

      <div class="row featurette">
        <div class="col-md-6">
          <h2 class="featurette-heading">Mind mapping in schools<br/><span class="text-muted">for inspirational teachers and creative students</span></h2>
          <p class="lead">
          Technology is revolutionising education by helping teachers engage students better, and allowing students to visualise
          ideas and collaborate easier. MindMup for Hangouts is specifically designed to support classroom use, allowing teachers and students
          to get all the benefits of MindMup in a safe, isolated environment. By utilising the Hangouts infrastructure,
          MindMup for Hangouts is instantly available and requires no setup investment &ndash; in time or money. It's designed to 
          help you improve discussions and learning experiences and take away all the hassle.
          </p>
          <p><%=erb :hangout_buttons%></p>
        </div>
        <div class="col-md-6">
          <img class="featurette-image img-responsive" src="/img/hangouts/mindmup-hangouts.png">
          
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row">
        <div class="feature col-lg-4 col-md-6">

          <h2>Get started easily</h2>
          <p>With a simple, friendly and intuitive interface, even the youngest students will be able to visualise their thoughts
          without needing instructions and help from a teacher. MindMup for Hangouts is trivially easy to get started with, so you'll
          spend time working with students on things that matter instead of explaining software.</p>
          <img class="classroom-img" src="/img/classroom/schools-interface-500x500.png" >
        </div>
        <div class="feature col-lg-4 col-md-6">

          <h2>Engage students better</h2>
          <p>Because we're utilising the Hangouts infrastructure, collaboration comes free and out of the box. Comments, chat, even video collaboration
          for remote students complement visual mind mapping and help you review and comment students' work.
          Speech bubbles and avatars allow you to quickly see what everyone is doing. </p>
          <img class="classroom-img" src="/img/classroom/classroom-speech.png">
        </div>
        <div class="feature col-lg-4 col-md-6">

          <h2>Work within GAFE</h2>
          <p>MindMup for Hangouts is designed to work nicely with the Google Apps ecosystem. Students can use images from their Google Drive
          in mind maps at the touch of a button. They can attach other GAFE documents easily to nodes. Finally, students can share and transfer maps to Google Drive after group work. </p>
          <img class="classroom-img" src="/img/classroom/attached-doc.png">
        </div>
        <div class="feature col-lg-4 col-md-6">
          <h2>Work safely</h2>
          <p> You do not have to worry about students unintentionally publishing work to third parties or
          unauthorised access. All the information that students create is contained within the Google Apps ecosystem.</p>
        </div>
        <div class="feature col-lg-4 col-md-6">
          <h2>Use without limits or cost</h2>
          <p>MindMup for Hangouts is completely free. We do not limit 
          the number of maps, concurrent Hangouts or people you can involve. This depends only on the Google Hangout infastructure. </p>
        </div>
        <div class="feature col-lg-4 col-md-6">
          <h2>Avoid admin headaches</h2>
          <p>Apart from being able to start a Google Hangout, there is no software installation required. There is no need to worry about
          compliance requirements or security, as long as you can work within the Google Apps ecosystem.</p>
        </div>
      </div>
      <!-- /END THE FEATURETTES -->

