<div class="row">
  <h1>MindMup Gold</h1>
  <img  src="/img/gold/gold_400.png" height="200" style="float: right; margin: 10px;" />
  <p>
  MindMup Gold is an optional service that enables MindMup users and working groups to export, share, save and embed larger maps.
  </p>
  <ul>
    <li><a href="#when">When should you use Gold?</a></li>
    <li><a href="#cost">How much does it cost?</a></li>
    <li><a href="#subscription-get">How to start a Gold subscription?</a></li>
    <li><a href="#subscription-share">Can a Gold subscription be shared?</a></li>
    <li><a href="#subscription-set">How to authorise a browser to use your Gold subscription?</a></li>
    <li><a href="#multiple-google">How to log in using a different Google account?</a></li>
    <li><a href="#subscription-remove">How to de-authorise a browser to use your Gold subscription?</a></li>
    <li><a href="#subscription-cancel">How to cancel a subscription?</a></li>
    <li><a href="#change-payment-method">How to change your payment details?</a></li>
    <li><a href="#secure">How secure is Gold Storage?</a></li>
    <li><a href="#managing-files">How to manage maps stored on Gold storage?</a></li>
    <li><a href="#more-info">How to get more information about Gold?</a></li>
  </ul>
</div>


<div class="row">
  <a name="when"></a><h2>When should you use Gold?</h2>
  <p>MindMup Gold allows you to:</p>
  <ul>
    <li>Embed larger maps into your web site, and serve them for longer periods. </li>
    <li>Export larger maps into printable PDFs, PNG images and slides</li>
  </ul>
  <p>Compared to MindMup anonymous storage, Gold allows you to: </p>
  <ul>
    <li>Store larger maps: up to 1 GB, MindMup anonymous storage supports up to 100K</li>
    <li>Store maps for longer: We guarantee to keep the maps online for the length
    of the MindMup Gold subscription, MindMup anonymous storage is guaranteed up to 6
    months.</li>
    <li>Create public or private maps for a working group: you can choose if the
    map if visible only to your group or to everyone (Anonymous maps are always
    public). Maps stored on MindMup Gold are tied to a subscription key, and allow users
    or working groups to open, share and locate maps stored with the same subscription
    key</li>
    <li>Share maps simply and keep them read-only - just send the URL of a public
    Gold map to anyone and they will be able to see the map (but not to modify it
    without your subscription key).</li>
    <li>Share and embed maps without any copyright release restriction: Gold maps
    belong to the users that upload them, we do not require or hold any copyright
    rights to the maps (maps stored on Anonymous storage have to be released under
    CC Universal subscription)</li>
    <li>Edit embedded and shared maps after you publish them: Because we know who
    owns each Gold map, authorised users can overwrite a map and keep the same URL
    with the changed content. (Anonymous maps are read-only, and each version of
    the map has a separate URL.)</li>
  </ul>
  <p>
  These limitations do not apply to other <a href="http://blog.mindmup.com/p/storage-options.html">storage options</a> -
  eg you do not need Gold just to store a large map, you can also use Google
  Drive, Dropbox or Github to do that. Capacity limits, storage duration and
  copyright restrictions then depend on the third party service you use, not
  MindMup.
  </p>
</div>
<div class="row">
  <a name="cost"></a><h2>How much does it cost?</h2>
  <p>
      There are two subscription choices: 25 USD per year or 2.99 USD monthly, for a Gigabyte of storage. We accept all major credit
      cards and Paypal.
  </p>
</div>
<div class="row">
  <a name="subscription-get"></a><h2>How to get a Gold subscription?</h2>
  <p>
  MindMup Gold is a commercial service.

  You can register for a subscription directly from the MindMup application:</p>
  <div class="instructions">
    <div class="col-md-6">
      <strong>1.</strong> Open the Gold pop-up, by clicking on the info button in the top right corner and then the MindMup Gold option.
    </div>
    <div class="col-md-6">
      <img src="/img/gold/gold_open.png" />
    </div>
    <div class="col-md-6">
      <strong>2.</strong> This will show the Gold login form. Click on <b>Sign Up</b>.
    </div>
    <div class="col-md-6">
      <img src="/img/gold/gold-login-1.png" />
    </div>
    <div class="col-md-6">
      <strong>3.</strong> MindMup will now show a registration form, where you can now enter your desired account name and choose the subscription type.
      This e-mail address will be used to send you payment confirmations and one-time passwords when you want to use the Gold service, so please enter
      a valid e-mail.
    </div>
    <div class="col-md-6">
      <img src="/img/gold/gold-page-2.png" />
    </div>
    <div class="col-md-6">
      <strong>4.</strong> MindMup will check if the chosen account name is free, and
      register your account. That should normally take only a few seconds, and
      after that the dialog will offer payment options. You
      can now choose paying by PayPal or a Credit/Debit card (we accept all major cards). Those buttons will
      take you to secure payment pages where you will be able to enter payment details.
    </div>
    <div class="col-md-6">
      <img  src="/img/gold/gold-page-3.png" />
    </div>
    <div class="col-md-6">
      <strong>5.</strong> Once the payment is complete, you will see a confirmation dialog
      showing the details of your subscription. You are now
      ready to start using MindMup Gold in the current browser. If you would like to use Gold on a
      different browser or a different computer, follow the instructions in <a
        href="#subscription-set">How to authorise a browser to use your Gold subscription?</a>
    </div>
    <div class="col-md-6">
      <img  src="/img/gold/gold-page-4.png" />
    </div>
  </div>
</div>
<div class="row">
  <a name="subscription-share"></a><h2>Can a Gold subscription be shared?</h2>
  <p>Yes! We do not limit the number of computers that can access MindMup using a
  single subscription, because Gold is charged by the total storage capacity, not the
  number of users. Some examples when you might want to share the subscription
  are:</p>
  <ul>
    <li>enable the whole classroom store private maps securely and easily access them</li>
    <li>enable a group of people to discover each other's maps. </li>
  </ul>
  <p>
  All browser profiles authorised with the same subscription have full access to the
  documents saved under that subscription. Please keep your subscription secure and share
  only with people or computers you want to allow access to your files. If you
  are using a public computer (eg in a school or an internet cafe), please
  remember to de-authorise that browser profile after you are finished working,
  otherwise the next person using that computer might have access to your files.
  The two sections below explain how to authorise and deauthorise a browser
  profile.
  </p>
  <p>
  Please note that all the browser profiles with the same subscription use the same
  storage capacity, and each Gigabyte of storage costs 25 USD per year (so don't
  share your subscription with the world).</p>
</div>
<div class="row">
  <a name="subscription-set"></a><h2>How to authorise a browser profile to use a Gold subscription?</h2>
  <p>
  To set up a different browser or a different computer to use your Gold account, follow these steps:
  </p>
  <div class="instructions">
    <div class="row">
    <div class="col-md-6">
      <strong>1.</strong> Open the Gold pop-up, by clicking on the info button in the top right corner and then the MindMup Gold option.
    </div>
    <div class="col-md-6">
      <img  src="/img/gold/gold_open.png" />
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <strong>2.</strong> In the Gold pop-up, enter your e-mail address or Gold account name and click on <b>Log in using e-mail</b> or <b>Use my Google Account</b>.
    </div>
    <div class="col-md-6">
      <img src="/img/gold/gold-login-1.png" />
    </div>
  </div>
    <div class="row">
    <div class="col-md-6">
      <p>
      <strong>3.</strong> If you chose to use a Google account, MindMup will try to log in via Google, and use the MindMup Gold subscription associated with your Google Apps or Google e-mail. <br/>
      </p>
    </div>
  </div>
    <div class="row">
      <div class="col-md-6">
      <p>
      If you chose to log in using e-mail, MindMup will ask you for the e-mail connected with your Gold subscription, then send you an e-mail with a temporary access code (one-time password) and show the login dialog.
      Once you receive that e-mail, copy the access code into the field and click on <b>Log In</b>.
      If you've not received the code in a minute or so, please check your spam filters for e-mails from contact@mindmup.com.
      </p>
    </div>
    <div class="col-md-6">
      <img src="/img/gold/gold-set-3.png" />
    </div>
  </div>
    <div class="row">
    <div class="col-md-6">
      <strong>4.</strong> The dialog will show your account details.
    </div>
    <div class="col-md-6">
      <img  src="/img/gold/gold-set-4.png" />
    </div>
  </div>
  </div>
</div>
<div class="row">
<a name="multiple-google"></a><h2>How to use a different Google account?</h2>
<p>If you are logged on to several Google accounts in the same browser profile, Google log-in will generally choose the first account only. Due to a limitation with the external Google interfaces
for authentication, there is not much we can do about account selection. For people who have multiple accounts, there are three good workarounds to ensure the right account is selected:</p>
<ul>
  <li>If using Chrome, use the <a href="https://support.google.com/chrome/answer/2364824?hl=en-GB">built-in browser support for multiple Google accounts</a>. This way, you can create separate
  browser profiles with only one account signed in</li>
  <li>Use your browser temporarily in private or incognito mode, logging in only one account to Google</li>
  <li>Log in using e-mail, where you will be able to enter the e-mail address associated with the correct Google account</li>
</ul>
</div>
<div class="row">
  <a  name="subscription-remove"></a><h2>How to deauthorise a browser profile to use a Gold subscription?</h2>
  <p> To log out and stop using Gold in a browser profile, follow these steps: </p>
  <div class="instructions">
    <div class="col-md-6">
      <strong>1.</strong> Open the Gold pop-up, by clicking on the info button in the top right corner and then the MindMup Gold option.
    </div>
    <div class="col-md-6">
      <img  src="/img/gold/gold_open.png" />
    </div>
    <div class="col-md-6">
      <strong>2.</strong> The Gold pop-up will show the current account details. Click on <b>Log Out</b> to deauthorise this browser to use
      your Gold account.
    </div>
    <div class="col-md-6">
      <img  src="/img/gold/gold-set-4.png" />
    </div>
  </div>
</div>
<div class="row">
  <a  name="subscription-cancel"></a><h2>How to cancel a subscription?</h2>
  <p>You can cancel the subscription with two clicks. 
      Cancelling will stop any future payments, but please note that you have to cancel the
      subscription more than 24 hours before the next payment cycle.</p>
      <p>
      You will still be able to use Gold until the end of the current payment cycle,
      so cancelling a subscription won't stop your gold service for the period you
      already paid. Any documents you stored to Gold will be available until the
      current billing cycle ends, and then automatically deleted. Please remember to
      export any documents you want to keep before the subscription expires.
      </p>
      <h4>Paypal subcriptions</h4> 
  <p>
  If you are paying for the subscription using PayPal, please cancel the
  subscription directly in your PayPal account. <a
    href="https://www.paypal.com/gb/webapps/helpcenter/helphub/article/?solutionId=FAQ2145&topicID=&m=ARA">Click
    here for instructions</a>. If you are unable to cancel there yourself, please
  send us an e-mail at <a
    href="mailto:contact@mindmup.com">contact@mindmup.com</a>.</p>
  <h4>Credit card subcriptions</h4>
  <p>
  To stop your credit card Gold subscription and avoid any future recurring payments, follow these steps:
  </p>
  <div class="instructions">
    <div class="col-md-6"><strong>1.</strong>
      Open the Gold pop-up, by clicking on the info button in the top right corner and then the MindMup Gold option.
    </div>
    <div class="col-md-6">
      <img  src="/img/gold/gold_open.png" />
    </div>
    <div class="col-md-6"><strong>2.</strong>
      The Gold pop-up will show the current account details, similar to the picture below. Click on <b>Cancel Subscription</b>
    </div>
    <div class="col-md-6">
      <img  src="/img/gold/gold-set-4.png" />
    </div>
    <div class="col-md-6"><strong>3.</strong>
     A confirmation will display similar to the picture below.
    </div>
    <div class="col-md-6">
      <img  src="/img/gold/gold-cancel-3.png" />
    </div>
  </div>
</div>
<div class="row">
  <a  name="change-payment-method"></a><h2>How to change your payment details </h2>
  <p>
  If you paid for the subscription using PayPal, please change your payment details directly in your PayPal account.
  <p>
  If you paid for the subscription using your credit card,  follow these steps for update your details:
  </p>
  <div class="instructions">
    <div class="col-md-6"><strong>1.</strong>
      Open the Gold pop-up, by clicking on the info button in the top right corner and then the MindMup Gold option.
    </div>
    <div class="col-md-6">
      <img  src="/img/gold/gold_open.png" />
    </div>
    <div class="col-md-6"><strong>2.</strong>
      The Gold pop-up will show the current account details, similar to the picture below. Click on <b>Change Card</b>
    </div>
    <div class="col-md-6">
      <img  src="/img/gold/gold-set-5.png" />
    </div>
    <div class="col-md-6"><strong>3.</strong>
      This will open a new window or tab showing a page on our secure payment site, click on the <b>Change my subscription payment method</b> button to open the payment provider dialog and enter your new details.
    </div>
    <div class="col-md-6">
      <img  src="/img/gold/gold-change-card.png" />
    </div>
    <div class="col-md-6"><strong>4.</strong>
      Once this is complete, the payment provider will validate the details and let us know if they are valid and you will see a confirmation screen. The gold popup should update to show the new details.
    </div>
    <div class="col-md-6">
      <img  src="/img/gold/gold-change-card-complete.png" />
    </div>
  </div>
</div>
<div class="row">
  <a name="secure"></a><h2>How secure is Gold Storage?</h2>
  <p>
  Gold Maps are physically stored on Amazon's S3 cloud and transported directly
  from your browser to Amazon using HTTPS. We rely on Amazon to provide
  resilience and backups, and we do not provide any additional backups or
  security over Amazon's mechanisms. For more information on Amazon S3 storage <a
    href="http://aws.amazon.com/s3/" target="_blank">see their product page</a>.
  </p>
</div>
<div class="row">
  <a name="managing-files"></a><h2>How to manage maps stored on Gold storage?</h2>
  <p>
  To see maps stored on your Gold storage, just click <strong>View&gt;Mindmup&nbsp;Gold&nbsp;Maps</strong>. You can click any map name in the list
  to open and view it.
  </p>
  <p>To delete a map from your Gold storage, click on the trash icon (<i class="fa fa-trash"></i>) next to the map name.</p>
  <p>Maps automatically get named based on the text in the central node the first time you save them. You can change the central node
  text later, but maps will not be renamed in order to keep the same URL. To rename a map, you should first export it to your local 
  disk (<strong>File&gt;Export&nbsp;To&nbsp;Local&nbsp;Disk&gt;MindMup</strong>), delete the original map as described above, 
  then import a map from the local disk (<strong>File&gt;Open/Import&nbsp;From&nbsp;Local&nbsp;Disk&gt;MindMup</strong>), then
  save to MindMup Gold. This will save the map using the new name.</p>
  <p>To change a map from private to public, or the other way around, just select <strong>File&gt;Save&nbsp;as</strong> and choose the
  appropriate option from the menu. </p>
</div>
  
<div class="row">
  <a name="more-info"></a><h2> How to get more information about Gold?</h2>
  <p>
  The following documents explain legal and compliance aspects of Gold Storage:</p>
  <ul>
    <li><a href="http://gold.mindmup.com/terms">MindMup Gold Terms of Service</a></li>
    <li><a href="https://www.mindmup.com/legal/privacy">MindMup Privacy Policy</a></li>
  </ul>
  <p>If the information you are looking for is not there, please send us an e-mail at <a href="mailto:contact@mindmup.com">contact@mindmup.com</a></p>
</div>
