<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/lib/jquery-2.1.0.min.js"></script>
    <link href="/v/7/mobile_guide.css" rel="stylesheet">
    <title><%=@title%></title>
  </head>
  <body>
<div class="app-guide">
  <h2>App</h2>
  <div class="row" >
    <a name="when"></a><h2>How do I add some nodes quickly?</h2>
    <p>MindMup Gold allows you to:</p>
  </div>
  <div class="row">
    <a name="when"></a><h2>How do I change the colour?</h2>
    <p>Simply....</p>
  </div>
</div>
<div class="quick-edit-guide">
  <h2>Quick Edit</h2>
  <div class="row" >
    <a name="when"></a><h2>How do I add some nodes quickly?</h2>
    <p>MindMup Gold allows you to:</p>
  </div>
  <div class="row">
    <a name="when"></a><h2>How do I change the colour?</h2>
    <p>Simply....</p>
  </div>
</div>
</body>
</html>
