<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1,initial-scale=1.0">


    <title><%=@title%></title>
    <!--Version for iOS to store-->
    <!--version[<%=@version%>]-->
    <!--embedded-styles-START-->
    <link href="/v/<%=@version%>/guide_ios.css" rel="stylesheet">
    <!--embedded-styles-END-->
    <style>
    /*embedded-styles-INSERT*/
    </style>

    <!--embedded-scripts-START-->
    <script src="/lib/jquery-2.1.0.min.js"></script>
    <script src="/lib/guide_ios.js"></script>
    <!--embedded-scripts-END-->

    <script id="ios">
    /*embedded-scripts-INSERT*/
    </script>

  </head>
  <body class="show-quick-edit-guide">
    <div class="app-guide">
      <h2>App</h2>
      <div class="row" >
        <h2>How do I add some nodes quickly?</h2>
        <p>MindMup Gold allows you to:</p>
      </div>
      <div class="row">
        <h2>How do I change the colour?</h2>
        <p>Simply....</p>
      </div>
    </div>
    <div class="quick-edit-guide">
      <h2>MindMup Editor Help</h2>
      <div class="row" >
        <div class="section-title"><a name="main-toolbar"></a><h3>Main toolbar</h3></div>
        <table class="toolbar-description">
          <tbody>
            <tr>
              <td><img class="toolbar-icon" src="/img/guide_ios/toolbar_icon_undo.svg"></td>
              <td class="toolbar-description">
                <p>Undo the the most recently performed action</p>
              </td>
            </tr>
            <tr>
              <td><img class="toolbar-icon" src="/img/guide_ios/toolbar_icon_redo.svg"></td>
              <td class="toolbar-description">
                <p>Re-apply the most recently undone action</p>
                <p><i>This is only shown in landscape on smaller screens</i></p>
              </td>
            </tr>
            <tr>
              <td><img class="toolbar-icon" src="/img/guide_ios/toolbar_icon_edit.svg"></td>
              <td class="toolbar-description">
                <p>Enter Quick-add mode to quickly add ideas</p>
                <p><i>See the <a href="#quick-add-toolbar">Quick-add toolbar</a> section for details</i></p>
              </td>
            </tr>
            <tr>
              <td><img class="toolbar-icon" src="/img/guide_ios/toolbar_icon_node_tools.svg"></td>
              <td class="toolbar-description">
                <p>Show the edit tools for the selected node</p>
                <p><i>See the <a href="#edit-node-toolbar">Node Edit Tools</a> section for details</i></p>
              </td>
            </tr>
            <tr>
              <td><img class="toolbar-icon" src="/img/guide_ios/toolbar_icon_help.svg"></td>
              <td class="toolbar-description">
                <p>Show the help page</p>
              </td>
            </tr>
            <tr>
              <td><img class="toolbar-icon" src="/img/guide_ios/toolbar_icon_exit.svg"></td>
              <td class="toolbar-description">
                <p>Close the editor</p>
                <p><i>You will be prompted to save if you have made changes</i></p>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="row" >
        <div class="section-title"><a name="quick-add-toolbar"></a><h3>Quick-Add toolbar</h3></div>
        <div class="section-introduction">The Quick-add toolbar allows you to easily insert new nodes. It includes a text field to enter the required node text and buttons to add sibling or child nodes as well as image nodes.</div>
        <table class="toolbar-description">
          <tbody>
            <tr>
              <td><img class="toolbar-icon" src="/img/guide_ios/toolbar_icon_add_sibling.svg"></td>
              <td class="toolbar-description">
                <p>Add a sibling node containing the entered text</p>
                <p><i>Sibling nodes are also added when the &quot;Return&quot; key on the keyboard is tapped</i></p>
              </td>
            </tr>
            <tr>
              <td><img class="toolbar-icon" src="/img/guide_ios/toolbar_icon_add_child.svg"></td>
              <td class="toolbar-description">
                <p>Add a child node containing the entered text</p>
              </td>
            </tr>
            <tr>
              <td><img class="toolbar-icon" src="/img/guide_ios/toolbar_icon_image_node.svg"></td>
              <td class="toolbar-description">
                <p>Add a child node containing an image</p>
              </td>
            </tr>
            <tr>
              <td><img class="toolbar-icon" src="/img/guide_ios/toolbar_icon_undo.svg"></td>
              <td class="toolbar-description">
                <p>Undo the the most recently performed action</p>
                <p><i>This is only shown on larger screens</i></p>
              </td>
            </tr>
            <tr>
              <td><img class="toolbar-icon" src="/img/guide_ios/toolbar_icon_quit_edit.svg"></td>
              <td class="toolbar-description">
                <p>Return to the <a href="#main-toolbar">Main toolbar<a></p>
              </td>
            </tr>

          </tbody>
        </table>
      </div>
      <div class="row" >
        <div class="section-title"><a name="edit-node-toolbar"></a><h3>Node Edit tools</h3></div>
        <div class="section-introduction">The node edit tools allow you to perform actions on the selected node. It is shown by tapping the <img class="toolbar-icon-tiny" src="/img/guide_ios/toolbar_icon_node_tools.svg"> icon in the <a href="#main-toolbar">Main toolbar<a>.</div>
        <img class="illustration" src="/img/guide_ios/screenshot_node_edit_tools.png">
        <div class="sub-section-title"><a name="edit-node-toolbar-selected-node"></a><h5>Editing the selected node</h5></div>
        <div class="section-introduction">Double tapping the node will allow you to edit the node text. You can also remove the node, change the background color, add or change an image using one of the following tools</div>
      </div>
    </div>
  </body>
</html>
