<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1,initial-scale=1.0">


    <title><%=@title%></title>
    <!--Version for iOS to store-->
    <!--version[<%=@version%>]-->
    <!--embedded-styles-START-->
    <link href="/v/<%=@version%>/guide_ios.css" rel="stylesheet">
    <!--embedded-styles-END-->
    <style>
    /*embedded-styles-INSERT*/
    </style>

    <!--embedded-scripts-START-->
    <script src="<%=settings.cdn_host%>lib/jquery-2.1.3.min.js"></script>
    <script src="/lib/guide_ios.js"></script>
    <!--embedded-scripts-END-->

<script id="ios">
    /*embedded-scripts-INSERT*/
</script>

  </head>
  <body class="show-app-guide">
    <div class="app-guide">
      <h2>MindMup App Guide</h2>
      <div class="row" >
        <div class="section-title"><a name="main-menu"></a><h3>Main Menu</h3></div>
        <img class="illustration" src="/img/guide_ios/ios_main_menu_not_logged_in.png">
        <div class="section-introduction">The main menu is the first thing you see when you start the app. It allows you to perform the tasks needed to get you up and running.</div>
        <table class="toolbar-description">
          <tbody>
            <tr>
              <td><img class="toolbar-icon" src="/img/guide_ios/toolbar_icon_add.svg"></td>
              <td class="toolbar-description">
                <p>Tapping this icon will create a new map and switch to the editor view so you can add your ideas</p>
              </td>
            </tr>
            <tr>
              <td><img class="toolbar-icon" src="/img/guide_ios/mm_drive_import.svg"></td>
              <td class="toolbar-description">
                <p><a name="document-picker-import-icon"></a>Tapping this icon will open a document picker that will allow you to import maps from other applications that provide document picker capabilities, such as Dropbox and Google Drive apps. See the <a href="#importing-maps">Importing maps</a> section for  more information</p>
              </td>
            </tr>
            <tr>
              <td><img class="toolbar-icon" src="/img/guide_ios/mm_spider_gold.svg"></td>
              <td class="toolbar-description">
                <p>Tapping this icon will open the MindMup gold account management view</p>
              </td>
            </tr>
            <tr>
              <td><img class="toolbar-icon" src="/img/guide_ios/ios_import_icon_gold.svg"></td>
              <td class="toolbar-description">
                <p>If you have logged into your MindMup gold account this icon will be visible, allowing you to import maps from MindMup gold storage</p>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="row" >
        <div class="section-title"><a name="actions-on-maps"></a><h3>Actions on Maps</h3></div>
        <div class="section-introduction">Maps you have previously imported or created are listed in the main menu, with the most recently modified first in the list. To open the map for editing, double tap the map image in the menu. To perform other actions on the map, tap it once to show the map toolbar</div>
        <img class="illustration" src="/img/guide_ios/ios_map_toolbar.png">
        <table class="toolbar-description">
          <tbody>
            <tr>
              <td><img class="toolbar-icon" src="/img/guide_ios/toolbar_icon_edit.svg"></td>
              <td class="toolbar-description">
                <p>Tap this icon to open the map editor</a></p>
              </td>
            </tr>
            <tr>
              <td><img class="toolbar-icon" src="/img/guide_ios/ios_icon_export.svg"></td>
              <td class="toolbar-description">
                <p>Tap this icon to open map sharing view</a></p>
              </td>
            </tr>
            <tr>
              <td><img class="toolbar-icon" src="/img/guide_ios/ios_icon_clipboard.svg"></td>
              <td class="toolbar-description">
                <p>Tap this icon to create a copy of the map, and open in the map editor</a></p>
              </td>
            </tr>
            <tr>
              <td><img class="toolbar-icon" src="/img/guide_ios/ios_icon_remove.svg"></td>
              <td class="toolbar-description">
                <p>Tap this icon to delete the map</a></p>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="row" >
        <div class="section-title"><a name="importing-maps"></a><h3>Importing Maps</h3></div>
        <div class="section-introduction"><a name="document-picker-import"></a>You can import maps using the <a href="#document-picker-import-icon">document picker</a>, which is accessed from the <a href="#main-menu">main menu</a>.
          <p>To use the document picker you must have iCloud Drive set up. You will be prompted to set it up if you have not already done so.</p>
          <p>If you do not have iCloud drive set up, and do not wish to set it up, the you can still import from apps that provide activity sheet capabilities. See <a href="#activity-sheet-import">below</a> for more information on how to do this.<p>
          <p>When the document picker first opens, it will default to showing iCloud Drive documents. To choose a different location, tap the locations button in the top corner.</p>
        </div>
        <img class="illustration" src="/img/guide_ios/import_document_picker_1.png">
        <div class="section-introduction">This will disaplay a list of enabled document sources, as illustrated below</div>
        <img class="illustration" src="/img/guide_ios/import_document_picker_2.png">
        <div class="section-introduction">If you see the app you want to import the document from in the list, tap the icon and you will be shown the document picker interface for the app. This is different for each app. If you do not see the app you want to import from in the list, try tapping on the 'More' item, which will allow you to enable or disable applications in the document picker.
        </div>
        <img class="illustration" src="/img/guide_ios/import_document_picker_3.png">

        <div class="sub-section-title"><a name="edit-node-toolbar-selected-node"></a><h5>Importing using an activity sheet</h5></div>
        <div class="section-introduction"><a name="activity-sheet-import"></a>The workflow to import a map from another app using the app's activity sheet varies for each app. The most common workflow involves selecting the file you wish to export in the app that you wish to export from, then tapping a share button (which often has an icon similar to <img class="toolbar-icon-tiny" src="/img/guide_ios/ios_icon_export.svg">). This should bring up an action sheet, similar to the illustration below.
        </div>
        <img class="illustration" src="/img/guide_ios/share_sheet_example_1.png">
        <div class="section-introduction">Tapping on the 'Open in...' icon will show applications that can accept the map, as illustrated below</div>
        </div>
        <img class="illustration" src="/img/guide_ios/share_sheet_example_2.png">
        <div class="section-introduction">Tapping on the 'Open in Mindmup' icon will import the map into the MindMup app if it is a valid map.</div>
        </div>
      </div>
    </div>

    <div class="quick-edit-guide">
      <h2>MindMup Editor Help</h2>
      <div class="row" >
        <div class="section-title"><a name="main-toolbar"></a><h3>Main toolbar</h3></div>
        <table class="toolbar-description">
          <tbody>
            <tr>
              <td><img class="toolbar-icon" src="/img/guide_ios/toolbar_icon_undo.svg"></td>
              <td class="toolbar-description">
                <p>Undo the the most recently performed action</p>
              </td>
            </tr>
            <tr>
              <td><img class="toolbar-icon" src="/img/guide_ios/toolbar_icon_redo.svg"></td>
              <td class="toolbar-description">
                <p>Re-apply the most recently undone action</p>
                <p><i>This is only shown in landscape on smaller screens</i></p>
              </td>
            </tr>
            <tr>
              <td><img class="toolbar-icon" src="/img/guide_ios/toolbar_icon_edit.svg"></td>
              <td class="toolbar-description">
                <p>Enter Quick-add mode to quickly add ideas</p>
                <p><i>See the <a href="#quick-add-toolbar">Quick-add toolbar</a> section for details</i></p>
              </td>
            </tr>
            <tr>
              <td><img class="toolbar-icon" src="/img/guide_ios/toolbar_icon_node_tools.svg"></td>
              <td class="toolbar-description">
                <p>Show the edit tools for the selected node</p>
                <p><i>See the <a href="#edit-node-toolbar">Node Edit Tools</a> section for details</i></p>
              </td>
            </tr>
            <tr>
              <td><img class="toolbar-icon" src="/img/guide_ios/toolbar_icon_help.svg"></td>
              <td class="toolbar-description">
                <p>Show the help page</p>
              </td>
            </tr>
            <tr>
              <td><img class="toolbar-icon" src="/img/guide_ios/toolbar_icon_exit.svg"></td>
              <td class="toolbar-description">
                <p>Close the editor</p>
                <p><i>You will be prompted to save if you have made changes</i></p>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="row" >
        <div class="section-title"><a name="quick-add-toolbar"></a><h3>Quick-Add toolbar</h3></div>
        <div class="section-introduction">The Quick-add toolbar allows you to easily insert new nodes. It includes a text field to enter the required node text and buttons to add sibling or child nodes as well as image nodes.</div>
        <table class="toolbar-description">
          <tbody>
            <tr>
              <td><img class="toolbar-icon" src="/img/guide_ios/toolbar_icon_add_sibling.svg"></td>
              <td class="toolbar-description">
                <p>Add a sibling node containing the entered text</p>
                <p><i>Sibling nodes are also added when the &quot;Return&quot; key on the keyboard is tapped</i></p>
              </td>
            </tr>
            <tr>
              <td><img class="toolbar-icon" src="/img/guide_ios/toolbar_icon_add_child.svg"></td>
              <td class="toolbar-description">
                <p>Add a child node containing the entered text</p>
              </td>
            </tr>
            <tr>
              <td><img class="toolbar-icon" src="/img/guide_ios/toolbar_icon_image_node.svg"></td>
              <td class="toolbar-description">
                <p>Add a child node containing an image</p>
              </td>
            </tr>
            <tr>
              <td><img class="toolbar-icon" src="/img/guide_ios/toolbar_icon_undo.svg"></td>
              <td class="toolbar-description">
                <p>Undo the the most recently performed action</p>
                <p><i>This is only shown on larger screens</i></p>
              </td>
            </tr>
            <tr>
              <td><img class="toolbar-icon" src="/img/guide_ios/toolbar_icon_quit_edit.svg"></td>
              <td class="toolbar-description">
                <p>Return to the <a href="#main-toolbar">Main toolbar<a></p>
              </td>
            </tr>

          </tbody>
        </table>
      </div>
      <div class="row" >
        <div class="section-title"><a name="edit-node-toolbar"></a><h3>Node Edit tools</h3></div>
        <div class="section-introduction">The node edit tools allow you to perform actions on the selected node. It is shown by tapping the <img class="toolbar-icon-tiny" src="/img/guide_ios/toolbar_icon_node_tools.svg"> icon in the <a href="#main-toolbar">Main toolbar<a>.</div>
        <img class="illustration" src="/img/guide_ios/screenshot_node_edit_tools.png">
        <div class="sub-section-title"><a name="edit-node-toolbar-selected-node"></a><h5>Editing the selected node</h5></div>
        <div class="section-introduction">Double tapping the node will allow you to edit the node text. You can also remove the node, change the background color, add or change an image using one of the following tools</div>
      </div>
    </div>
  </body>
</html>
