<div class="row featurette">
  <div class="col-md-12">
    <h2 class="featurette-heading">MindMup For Google Hangouts: &nbsp;<span class="text-muted">collaboration for visual thinkers</span></h2>
  </div>
  <div class="col-md-6">

    <p class="lead">
    MindMup for Hangouts puts mind mapping capabilities into one
    of the best collaboration systems out there!    
    You get all
    the productivity of MindMup, all the goodness of visual and audio conversations,  but without the hassle of 
    managing collaboration over multiple channels. Lightning-fast idea
    capture? Check!
    See people's faces as you discuss ideas? Check!
    Global access? Check! 
    Waste time setting up privileges and document
    sharing?  No more!
    </p>
    
    <%=erb :hangout_buttons%>
  </div>
  <div class="col-md-6">
    <img class="featurette-image img-responsive" src="/img/hangouts/mindmup-hangouts.png">
  </div>
</div>
<div class="row featurette">
  <div class="col-md-12">
    <p>
    Most online mind mapping tools first focused on mapping capabilities, then
    built collaboration on top of that. We did that with the main MindMup app two years ago as well. The result was clunky and severely
    limited. Almost any good online mind mapping tool today offers concurrent editing, 
    but the conversation part is far below what modern users expect.
    Chat systems are non existing or severely limited, comments are not preserved well, there is no way to see
    collaborators faces or talk to them directly while mind mapping. For effective collaboration,
    groups had to set up a separate video or audio channel using Skype or
    Hangouts. Synchronising participants across two different channels, setting
    up resource permissions and managing presence was headache. Many teams use mind maps as an overview of their project, and 
    attempting to review another project document, for example disucssing a presentation
    or reviewinf a spreadsheet, required a third collaboration channel to be opened and synchronised with the first two. It was a hassle,
    interrupting discussions just when people want to get creative. No more! 
    </p>
    <p>Likewise remote video conferencing tools aren't that good for visualising ideas. People often
    start talking online about something that seems simple at first, but then wished for a nice whiteboard to visualise
    the connections in their minds. This required interruption to set up a separate document in a different tool. Coordinating
    invitations and privilege lists disrupts conversations just when they become interesting. No more! 
    </p>
    <p>Instead of building collaboration on top of a mind
    mapping tool, we built mind mapping inside a great collaboration tool. MindMup for Google Hangouts runs a mind mapping session in the same
    window as a video conference. It works out of the box, without the need to coordinate multiple collaboration channels or participant lists. All Hangout participants
    immediately get access to the mind maps, and they can collaborate instantly.
    </p>
  </div>
</div>



<div class="row featurette">
  <div class="col-md-4">
    <h2>Great for schools</h2>
    <p>Start collaborating with the entire classroom at a click of a mouse, and
    be safe in knowing that all your information is contained within the GAFE ecosystem.
    All images are uploaded and loaded from Google Drive, and
    all the map data is stored in the Hangout.</p>
    <p>
    You do not have to worry about students unintentionally publishing work to third parties or
    unauthorised access.
    </p>


  </div>
  <div class="col-md-4">
    <h2>Great for teams</h2>
    <p>Run planning sessions, visualise progress on collaborative activities and keep a track of your projects
    without having to synchronise participants in multiple applications. Just invite people to a hangout, and that's it. </p>
    <p>Link to other project documents on Google Drive easily, and you'll be able to preview them in the map and use
    the mindmap as a central overview of your work.  </p>
    
  </div>
  <div class="col-md-4">
    <h2>Great for discussions</h2>
    <p>If you start just with a voice call, but need to visulise a more complex idea, no need to jump out into a different tool any more,
    send separate invitations and coordinate updates. Just tap the MindMup app icon in the Hangouts toolbar and you're all set!</p>
    <p>Schedule an event using Google Calendar, and you'll have a permanent link to your Hangout
    for easy access.
    </p>

  </div>
</div>



<hr class="featurette-divider">



<div class="row featurette">
  <div class="col-md-12">
    <h2>Brainstorm and review ideas visually, using video and audio conversations</h2>
  </div>
  <div class="col-md-6">
    <p>
    MindMup for Hangouts runs as an optional pane inside the Hangout application, so you can collaborate on a mind map and talk
    to other participants at the same time, even look at their faces. Everyone in the hangout is looking at the same mindmap, so 
    concurrent updates across the globe are instantly visible to your collaborators, using Google's Hangout infrastructure. There is no need
    to set up any other software or coordinate different tools for mapping and audio chats.
    </p>
    <p>
    Of course, great collaboration needs more than just concurrent updates. To really benefit from a group mind-mapping session, people
    need to know what everyone else is thinking as well. With MindMup for Hangouts, we're coming as close to a physical presence as possible,
    by allowing you to hear and see collaborators, but also enssuring that you know what everyone else is doing around the map.
    </p>    
    <p>
    As people are moving around the map, you can see their profile photos move and follow their thoughts. When your colleagues
    add new ideas or update map nodes, you'll get a quick overview with pop-up speech bubbles. This ambiental information makes
    groupwork much more powerful than just remote simultaneous document editing. 
    <p>
    <p>
    A map stays associated with the hangout, so you can leave at any time and come back, and your ideas will wait for you.
    </p>    
  </div>
  <div class="col-md-6">
    <img class="featurette-image img-responsive" src="/img/hangouts/hangouts-avatars.png">
  </div>
</div>

<div class="row featurette">
  <div class="col-md-12">
    <h2>Integrate other Google documents easily</h2>
  </div>
  <div class="col-md-6">
    <p>
    Mindmaps are great for planning and visual overviews, but true teamwork requires more. People work on articles, 
    presentations, spreadsheets and images together, and MindMup for Hangouts allows you to quickly pull all that information into the map.
    That way, you can use the mindmap inside your hangout as a central index and a visual overview of all the assignment and project documents. 
    </p>
    <p>
    You can embed any Google Drive document into a map node, and we make it easy to even upload new documents and attach them to your map quickly. To
    make it easy to navigate attached documents, we'll show a read-only preview when you click the paperclip, and allow you to quickly open the document
    for editing in Google Docs.
    </p>    
  </div>
  <div class="col-md-6">
    <img class="featurette-image img-responsive" src="/img/hangouts/hangouts-attached-slides.png">
  </div>
</div>
<div class="row featurette">
  <div class="col-md-12">
    <h2>Simple, but poweful</h2>
  </div>
  <div class="col-md-6">
    
    <p>
    MindMup for Hangouts uses the same mind mapping canvas as the main MindMup application, but simplified to fit in with the high-bandwidth
    communication provided by Hangouts. We removed all the noise so you can focus on your ideas, not on toolbars and menus. 
    You can still use powerful keyboard shortcuts
    to capture ideas quickly, and access common node operations from the convenient spider menu in the top-right corner. 
    </p>

    <p>Still, if you decide that the simplified interface is not enough, you can take your map from the Hangout to Google Drive
    with a single click, and then load it in the regular MindMup application, to get all the benefits of the full interface such
    as <a href="/presentations">storyboards</a>. 
    </p>
  </div>
  <div class="col-md-6">
    <img class="featurette-image img-responsive" src="/img/hangouts/hangouts-menus.png">
  </div>
</div>


<div class="row featurette">
  <div class="col-md-12">
    <h2>Free, unlimited collaboration</h2>
  </div>
  <div class="col-md-6">
    <p>
    Free as beer. MindMup does not limit the number of maps, concurrent Hangouts or people you can involve. Even better, it's <a href="http://github.com/mindmup">opensource</a>. 
    </p>
    <p>
    Also free as speech. The data is yours, and you can take it out at any time. Transfer it to Google Drive with a single click, and
    then continue working on your map <a href="https://chrome.google.com/webstore/detail/mindmup-desktop-free-mind/eealagocaipaflcjmeapmobpmilffopi">offline</a>,
    or on a <a href="https://itunes.apple.com/gb/app/mindmup/id922046314">mobile device</a>. MindMup maps can also be converted into Freemind easily,
    so you can import them into pretty much any other mapping tool.
    </p>
    <p>Finally, free as a bird. Once you're finished with the collaboration, publish it
    using <a href="/atlas">MindMup Atlas</a>, without the need to worry about security or forcing readers
    to install any particular software.
    Atlas will serve a read-only copy of your map to the world, that you can easily share or embed in your web site, and
    it even works well with popular social networks to help you get more visibility and engagement.
    </p>
  </div>
  <div class="col-md-6 text-center">
    <img class="featurette-image img-responsive" src="/img/atlas/atlas-social-2.png"  >
  </div>
</div>


