
<div class="row featurette">
  <div class="col-md-12">
    <h2 class="featurette-heading">MindMup For Google Hangouts: &nbsp;<span class="text-muted">getting started guide</span></h2>
  </div>
  <div class="col-md-6">
    <ul>
      <li><a href="#create">How to launch MindMup in a hangout?</a></li>
      <li><a href="#existing-hangout">How to add a mindmap to an existing hangout?</a></li>
      <li><a href="#main-differences">What are the main differences between Hangouts app and other MindMup apps?</a></li>
      <li><a href="#prerequisites">What are the prerequisites?</a></li>
      <li><a href="#save">How to save the mindmap?</a></li>
      <li><a href="#store">Where is it stored?</a></li>
      <li><a href="#print">How to print?</a></li>
      <li><a href="#manage-content">How to add/remove nodes?</a></li>
      <li><a href="#space">How to get more screen space?</a></li>
      <li><a href="#icons">How to add images?</a></li>

      <li><a href="#attach">How to attach documents?</a></li>
      <li><a href="#links">How to link to other resources?</a></li>
      <li><a href="#full-access">Where are storyboards, measurements and other features I'm used to?</a></li>
      <li><a href="#revoke">How to uninstall/revoke access rights?</a></li>

      <li><a href="#more-info">How to get more information?</a></li>
    </ul>
  </div>
  <div class="col-md-6">
    <img class="featurette-image img-responsive" src="/img/hangouts/mindmup-hangouts.png">
  </div>
</div>
<div class="row">
<div class="col-md-12"><a name="create"></a><h2>How to launch MindMup in a hangout?</h2>
  <p>The easiest way to launch a new Hangout with MindMup pre-loaded is to click the <b>Launch a new MindMup+Hangout</b> button 
  at the top of the <a href="/hangouts">Discover MindMup Hangouts</a> page.</p>
</div>
<div class="col-md-12"><a name="existing-hangout"></a><h2>How to add a mindmap to an existing hangout?</h2>
  <p>
  Once you've used MindMup for Hangouts, the blue MindMup spider should appear in the left hand sidebar in the Hangout application. Just tap that
  and you'll add a mindmap into your existing Hangout. If the blue spider is not there, click the three dots button in the left hand sidebar, then select 
  <b>Add Apps</b>, click on Recent and look for the MindMup icon.</p>
  <p>If MindMup does not appear in any of those, launch a new hangout with MindMup (separately from the current one), as described in <a href="#create">How to launch MindMup in a hangout</a>.
  Close that one, and you should see MindMup in your list of recent applications then.
  </p>
  <p> See <a href="https://support.google.com/plus/answer/2539435?hl=en">Add or remove an app in Hangouts</a>
  on Hangouts support for more information.</p>

</div>

<div class="col-md-12"><a name="main-differences"></a><h2>What are the main differences between Hangouts app and other MindMup apps?</h2>
  <p><b>Storage</b>: MindMup for Hangouts stores maps only within the current Google Hangout, and the content is autosaved for you.
  Other MindMup applications allow selecting storage systems (eg Dropbox,
  Google Drive) and some of those support auto-saving, but some require the user to manually save. </p>
  <p><b>Better attachments</b>: MindMup for Hangouts allows you to attach many more document types &ndash; pretty much anything that can be stored in 
  Google Drive can be attached to a node. You can see a preview of a range of supported document types inside MindMup, or open documents in Google Docs to edit them.
  The main MindMup application only supports a limited rich-text attachment model.</p>
  <p><b>Images from Google Photos</b>: MindMup for Hangouts allows users to include images directly from their Google Photos storage. If you have photos synchronised
  between a mobile device and Google+, they will be instantly available for you.</p>
  <p><b>Simpler user interface</b>: Because there is no need to manage files or storage, we were able to simplify the menus and toolbars significantly
  and make them much easier to use.</p>
  <p><b>Multi-user, collaborative out of the box</b>: MindMup for Hangouts is optimised for groupwork, concurrent editing and
  realtime collaboration. It's possible to run a concurrent editing session in the main MindMup app using the realtime extension, but
  that requires setup, coordination, and lacks great audio/video chat capabilities that Hangouts provides out of the box.
  </p>
</div>

<div class="col-md-12"><a name="prerequisites"></a><h2>What are the prerequisites?</h2>

  <p>Hangout apps (not just MindMup, this is a general limitation) require a Google+ account. If you only have
  a GMail account, not a Google+ profile, you will be able to launch a Hangout, but not add the application</p>
  <p>If at least one of the participants of the Hangout has a full Google+ profile and adds the application, the
  other participants should see a link to activate it, even if they do not have full Google+ accounts.</p>
  <p>At the moment, Hangout Apps do not work on mobile devices. See <a href="https://support.google.com/plus/answer/2539435?hl=en">Add or remove an app in Hangouts</a>
  on Hangouts support for more information.</p>

</div>
  <div class="col-md-12"><a name="save"></a><h2>How to save the mindmap?</h2>
    <p>It's automatically saved for you inside the hangout, you do not need to save it specially. If you'd like to 
    use the map outside the hangout (for example, on a mobile device or offline), you can transfer the map to Google Drive
    manually &ndash; see the answer to <a href="#full-access">Where are storyboards, measurements and other features I'm used to</a>
    for how to do it.</p>
    <p><b>NOTE FOR BETA VERSION REVIEWERS:</b>The beta version of MindMup for Hangouts does not persist data for long after
    all the participants leave. If you re-launch the same Hangout later, the data will most likely be gone. This is a limitation
    of the testing app only.</p>
  </div>
  <div class="col-md-12"><a name="store"></a><h2>Where is it stored?</h2><p>
    The data is stored within the Hangout. If you want the technical details, see the <a href="https://developers.google.com/+/hangouts/shared-state">
  Data Channels: Shared State</a> on the Google Developers site.
  </p></div>
  <div class="col-md-12"><a name="print"></a><h2>How to print?</h2>
    <p>
    The first version of the Hangouts app is intentionally simplistic. To print, 
    see the answer to <a href="#full-access">Where are storyboards, measurements and other features I'm used to</a>
    for how to transfer the map to the main MindMup application, and export to PDF or image, and print from there.
  </p></div>
  <div class="col-md-12"><a name="manage-content"></a><h2>How to add/remove nodes?</h2>
    <p>There are three good ways to manage content, add and remove nodes and so on:
   </p>
   <ol>
     <li>The top-right corner of the Hangouts app has a quick access menu to the five most important functions. The first button will create a child
    node, and the second one will allow you to open a pop-up menu for the currently selected node, with options to add children, siblings, insert new parents and so on.
    </li>
    <li>Right-click (or ctrl+click on a mac) on any node and you'll see a popup menu with options to add nodes or manage node content</li>
    <li>Use the keyboard. <a href="/keyboard-shortcuts">All MindMup keyboard shortcuts work</a>. Even Shift+Space.</li>
  </ol>
  </div>
  <div class="col-md-6 text-center"><h4>Quick access menu (top-right corner)</h4>
    <img class="featurette-image" src="/img/hangouts/toolbar.png">
    <p class="small">Press the first button in the menu to create a new node, or the third button to launch the popup context menu for the currently
    selected node.</p>
</div> 
  <div class="col-md-6 text-center"><h4>Context menu</h4>
    <img class="featurette-image" src="/img/hangouts/context-menu-example.png">
    <p class="small">Right-click on any node to show options for managing node content, adding children, siblings or copying/pasting node groups.</p>
  </div>
  <div class="col-md-12"><a name="space"></a><h2>How to get more screen space?</h2><p>
    The Quick Access menu was designed to be user friendly to people new to MindMup. If you're an experienced user, you might want to reclaim
    that bit of screen space. Just click on the big spider icon in the toolbar, and the remaining icons will slide away from the screen. 
  </p></div>
  
  <div class="col-md-12"><a name="icons"></a><h2>How to add images?</h2>
  </div>
  <div class="col-md-6">
  <p>
    Press the second button in the quick access menu (camera) to add a new node with a picture. Alternatively, open the context menu
    and click on the <b>Node Picture</b> icon. (You can also use the keyboard shortuct <b>I</b>).
  </p>
  <p>In the popup dialog that launches, you'll be able to select any picture in your Google Photos storage, or quickly upload a new file. This way,
  if you have mobile devices connected with Google Photos, all those pictures are immediately available for you.</p>
  </div>
   <div class="col-md-6 text-center">
    <img class="featurette-image img-responsive" src="/img/hangouts/hangouts-attach-image.png">
    <p class="small">Include images from your Google+/Google Photos account instantly. And you can upload images as well.</p>
  </div>


  <div class="col-md-12"><a name="attach"></a><h2>How to attach documents?</h2><p></div>
  <div class="col-md-6">
  <p>
    Open the context menu for a node, and click on the <b>Node Attachment</b> icon. (You can also use the keyboard shortuct <b>A</b>).
  </p>
  <p>
  In the popup dialog that launches, you'll be able to select any document stored in your Google Drive, or quickly upload a new file. 
  </p>
  <p>A paperclip icon will show next to the node that has an attached document. Click the paperclip icon (or click on the Node Attachment button again) to
  open a dialog showing a preview of the attached document. You can cick <b>Open</b> to edit the document in Google Docs, or launch 
  third-party application to edit the attachment.
</p>
</div>
  <div class="col-md-6 text-center">
    <img class="featurette-image img-responsive" src="/img/hangouts/hangouts-attached-slides.png">
    <p class="small">This node has a Google Slides presentation attached!</p>
  </div>
  <div class="col-md-12"><a name="links"></a><h2>How to link to other resources?</h2>
  <p>
  Just paste a hyperlink into a node. See <a href="http://blog.mindmup.com/2013/03/hyperlinks-in-nodes.html">the hyperlink help</a> page for more information.
  </p></div>
    <div class="col-md-12"><a name="full-access"></a><h2>Where are storyboards, measurements and other features I'm used to?</h2><p>
  To avoid clutter and make the hangouts collaboration experience better, we removed all less frequently used functions from the application. 
  To get the full MindMup experience incuding exporting, publishing to <a href="/atlas">MindMup Atlas</a>, 
  <a href"http://discover.mindmup.com/storyboards">storyboards</a> and everything else, click on the Google Drive button in Quick Access menu (top-right)
  and send the map contents to your Drive. From there, you'll be able to open it in the main MindMup application, transfer to a <a href="http://discover.mindmup.com/mindmup-for-ios">mobile device</a> or download
  to use offline in the <a href="https://chrome.google.com/webstore/detail/mindmup-desktop-free-mind/eealagocaipaflcjmeapmobpmilffopi">MindMup Desktop</a> application.
      
</p></div>



      <div class="col-md-12"><a name="revoke"></a><h2>How to uninstall/revoke access rights?</h2><p>
        There is no need to uninstall MindMup Hangouts (it was not installed in the first place), but you can remove it from the list of 
        frequently used apps in Hangouts by hovering over the MindMup icon in the
        Hangouts left-hand sidebar, and clicking the X that appears. See <a href="https://support.google.com/plus/answer/2539435?hl=en">Add or remove an app in Hangouts</a>
        on Hangouts support for more information.
      </p>
      <p>If you'd like to revoke access rights to your photos or Google Drive, you can remove MindMup for Hangouts from the list of applications connected
      to your Google+ account. See <a href="https://support.google.com/accounts/answer/3466521?hl=en">
        Apps connected to your account</a> help page on Google Support for more information.</p> 
    
    </div>

<div class="col-md-12">
  <a name="more-info"></a><h2> How to get more information about MindMup for Hangouts?</h2>
  <p>
  The following documents might help:</p>
  <ul>
    <li><a href="http://discover.mindmup.com/press#facts">Key facts about MindMup</a></li>
    <li><a href="http://discover.mindmup.com/press">Resources for press and bloggers</a></li>
    <li><a href="https://www.mindmup.com/legal/privacy">MindMup Privacy Policy</a></li>
  </ul>
  <p>If the information you are looking for is not there, please send us an e-mail at <a href="mailto:contact@mindmup.com">contact@mindmup.com</a></p>
</div>
</div>
