<div class="row">
  <h1>MindMup Gold</h1>
  <img  src="/img/gold/gold_400.png" height="200" style="float: right; margin: 10px;" />
  <p>
  MindMup Gold is an optional service that enables MindMup users and working groups to export, share, save and embed larger maps.
  </p>
  <ul>
    <li><a href="#create">How to create a new mindmap?</a></li>
    <li><a href="#save">How to save the mindmap?</a></li>
    <li><a href="#store">Where is it stored?</a></li>
    <li><a href="#print">How to print?</a></li>
    <li><a href="#icons">How to add images?</a></li>
  </ul>
</div>


<div class="row">
  <a name="when"></a><h2>When should you use Gold?</h2>
  <p>MindMup Gold allows you to:</p>
  <ul>
    <li>Embed larger maps into your web site, and serve them for longer periods. </li>
    <li>Export larger maps into printable PDFs, PNG images and slides</li>
  </ul>
  <p>Compared to MindMup anonymous storage, Gold allows you to: </p>
  <ul>
    <li>Store larger maps: up to 1 GB, MindMup anonymous storage supports up to 100K</li>
    <li>Store maps for longer: We guarantee to keep the maps online for the length
    of the MindMup Gold subscription, MindMup anonymous storage is guaranteed up to 6
    months.</li>
    <li>Create public or private maps for a working group: you can choose if the
    map if visible only to your group or to everyone (Anonymous maps are always
    public). Maps stored on MindMup Gold are tied to a subscription key, and allow users
    or working groups to open, share and locate maps stored with the same subscription
    key</li>
    <li>Share maps simply and keep them read-only - just send the URL of a public
    Gold map to anyone and they will be able to see the map (but not to modify it
    without your subscription key).</li>
    <li>Share and embed maps without any copyright release restriction: Gold maps
    belong to the users that upload them, we do not require or hold any copyright
    rights to the maps (maps stored on Anonymous storage have to be released under
    CC Universal subscription)</li>
    <li>Edit embedded and shared maps after you publish them: Because we know who
    owns each Gold map, authorised users can overwrite a map and keep the same URL
    with the changed content. (Anonymous maps are read-only, and each version of
    the map has a separate URL.)</li>
  </ul>
  <p>
  These limitations do not apply to other <a href="http://blog.mindmup.com/p/storage-options.html">storage options</a> -
  eg you do not need Gold just to store a large map, you can also use Google
  Drive, Dropbox or Github to do that. Capacity limits, storage duration and
  copyright restrictions then depend on the third party service you use, not
  MindMup.
  </p>
</div>
  
<div class="row">
  <a name="more-info"></a><h2> How to get more information about Gold?</h2>
  <p>
  The following documents explain legal and compliance aspects of Gold Storage:</p>
  <ul>
    <li><a href="http://gold.mindmup.com/terms">MindMup Gold Terms of Service</a></li>
    <li><a href="https://www.mindmup.com/legal/privacy">MindMup Privacy Policy</a></li>
  </ul>
  <p>If the information you are looking for is not there, please send us an e-mail at <a href="mailto:contact@mindmup.com">contact@mindmup.com</a></p>
</div>
