<script src="https://apis.google.com/js/platform.js"></script>
<div id="placeholder-rr"></div>
<script>
  gapi.hangout.render('placeholder-rr', {
    'render': 'createhangout',
    'initial_apps': [{'app_id' : '221074361098', 'app_type' : 'ROOM_APP' }],
    'widget_size': 175
  });
</script>

