<a class="btn btn-lg btn-success" href="https://plus.google.com/hangouts/_/?gid=221074361098">&nbsp;Launch a new Hangout+MindMup</a>
<a class="btn btn-lg btn-primary" href="/hangouts_get_started">More Info</a>
