<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="mind mapping, mind mapping software, mind map, mindmap, mindmapping, free online mindmapping, free online mind mapping, mindmup" />
    <meta name="description" content="Discover MindMup - free, opensource, cloud based mind mapping software" />
    <link href="https://plus.google.com/u/0/communities/112831595986131146219" rel="publisher" />
    <title><%=@title%></title>
    <link href="lib/bootstrap-3.2.0/css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="lib/font-awesome-4.2.0/css/font-awesome.min.css">
    <link href="/v/6/site.css" rel="stylesheet">
    <meta name="twitter:site" content="@mindmup">
    <meta name="twitter:creator" content="@mindmup">
  </head>
<body>
