<%= erb :head %>
<div class="big">
<div class="jumbotron">
  <h1>MindMup<br/> <small>zero-friction free mind mapping</small></h1>
  <p>
  <a class="btn btn-lg btn-success" href="https://www.mindmup.com">Start mapping »</a>
  <a class="btn btn-lg btn-warning" href="https://chrome.google.com/webstore/detail/mindmup-desktop-free-mind/eealagocaipaflcjmeapmobpmilffopi">Offline app »</a>
  </p>
</div>
<div class="container">
  <div class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="item active">
          <div class="carousel-caption">
            <blockquote>
              <p> MindMup is super-simple, lightweight, and generally a joy to use.</p>
              <footer>
                <a href="http://www.pcworld.com/article/2032818/review-mindmup-is-a-free-effortless-way-to-create-mind-maps-in-moments.html">PC World</a> 
              </footer>
            </blockquote>
          </div>
        </div>
        <div class="item">
          <div class="carousel-caption">
            <blockquote>
              <p> It allows for frictionless capture of ideas and projects.
              </p><footer><a href="http://timemanagementninja.com/links/app-of-the-week-mindmup/">Time Management Ninja</a></footer> 
            </blockquote>
          </div>
        </div>
        <div class="item">
          <div class="carousel-caption">
            <blockquote>
              <p> 
              MindMup is the sort of app everyone dreams of finding online. 
              </p>
              <footer> <a href="http://www.makeuseof.com/tag/try-mindmup-mind-mapping-via-google-drive/">MakeUseOf.com</a></footer>
            </blockquote>
          </div>
        </div>
        <div class="item">
          <div class="carousel-caption">
            <blockquote>
              <p>MindMup is a great browser-based program that helps you get organized.</p>
              <footer> <a href="http://lifehacker.com/mindmup-maps-your-brain-in-the-browser-614853279">LifeHacker</a></footer>
            </blockquote>
          </div>
        </div>
        <div class="item">
          <div class="carousel-caption">
            <blockquote>
              <p> Using it could not be easier.</p>
              <footer> <a href="http://www.independent.ie/business/technology/reviews/tech-insider-reviews-of-the-weeks-best-technology-30326838.html">The Independent</a></footer>
            </blockquote>
          </div>
        </div>
        <div class="item">
          <div class="carousel-caption">
            <blockquote>
              <p>MindMup lives up to its claim of being ‘zero-friction’.</p>
              <footer> <a href="http://isimplify.com.au/mindmup/">ISimplify</a></footer>
            </blockquote>
          </div>
        </div>
        <div class="item">
          <div class="carousel-caption">
            <blockquote>
              <p>
              The MindMup app is a great tool to create, edit, save, share and embed mind maps.
              </p>
              <footer><a href="http://drprem.com/review/create-mind-map-mindmup-review">Dr Prem</a></footer>
            </blockquote>
          </div>
        </div>
        <div class="item">
          <div class="carousel-caption">
            <blockquote>
              <p>Their motto of “Zero-friction free online mind mapping” is one that its designers have taken seriously.</p> 
              <footer> <a href="http://www.mind-mapping.org/blog/2013/11/mindmup-browser-based-free-easy-and-open-source/">MindMapping.Org</a></footer>
            </blockquote>
          </div>
        </div>

      </div>
    </div>
</div>
</div>
<div class="container">
  


  <div class="row lists">
    <div class="col-md-4">
      <i class="enormous fa fa-bullhorn"></i>
      <h2>MindMup is great for...</h2>
      <ul class="nav nav-pills nav-stacked">
        <li><a href="/impactmapping">Project plans and impact maps</a></li>
        <li><a href="/presentations">Presentations and articles</a></li>
        <li><a href="/geeks">Tweaking and automating</a></li>
      </ul>
    </div>
    <div class="col-md-4">
      <i class="enormous fa fa-graduation-cap"></i>
      <h2>Guides</h2>
      <ul class="nav nav-pills nav-stacked">
        <li><a href="/mindmup-gold">MindMup Gold</a></li>
        <li><a href="/keyboard-shortcuts">Keyboard Shortcuts</a></li>
        <li><a href="/mouse-touch-operations">Mouse and Touch operations</a></li>
        <li><a href="/storyboards">Storyboards</a></li>
      </ul>
    </div>
    <div class="col-md-4">
      <i class="enormous fa fa-book"></i>
      <h2>Resources</h2>
      <ul class="nav nav-pills nav-stacked">
        <!--
        <li><a href="#">Key facts</a></li>
        <li><a href="#">Logos and screenshots</a></li>
        -->
        <li><a href="http://blog.mindmup.com/p/documentation.html">Tips and tricks</a></li>
        <li><a href="http://github.com/mindmup">Source code</a></li>
        <li><a href="http://blog.mindmup.com">News</a></li>
      </ul>
    </div>
  </div>
  

</div>

<%= erb :foot %>
