
      <!-- START THE FEATURETTES -->


      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Impact Mapping <span class="text-muted">for teams building great products</span></h2>
          <p class="lead">MindMup makes impact mapping easier, facilitating
          collaboration and enabling teams to capture and manage their roadmaps and
          implementation ideas.</p>
          <p><a class="btn btn-lg btn-success" href="http://www.mindmup.com">Start mapping »</a></p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive" src="/img/im/main.png">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row">
        <div class="col-lg-4 col-md-6">
          <img class="img-circle col-header" src="/img/im/collaborate.png" >
          <h2>Edit collaboratively</h2>
          <p>Work with colleagues and see their updates in real time. MindMup makes collaboration easier by showing profile photos 
          automatically next to the nodes nodes your colleagues are currently working on.  To follow someone during a presentation, just click on their picture.</p>
          <p><a class="btn btn-default" href="http://blog.mindmup.com/p/realtime-collaboration.html" role="button">More info »</a></p>
        </div>
        <div class="col-lg-4 col-md-6">
          <img class="img-circle col-header" src="/img/im/showlabels.png">
          <h2>Quantify impacts</h2>
          <p>Assign measurements to nodes, from impacts to business goals, to manage expectations and track results of experiments. MindMup measures allow you to see 
          all your measurements in a spreadsheet, or display selected measurements next to nodes as labels. Export to CSV for further processing.</p>
          <p><a class="btn btn-default" href="http://blog.mindmup.com/p/measures.html" role="button">More info »</a></p>
        </div>
        <div class="col-lg-4 col-md-6">
          <img class="img-circle col-header" src="/img/im/progress.png">
          <h2>Track progress</h2>
          <p>Mark deliverables as in-play, done or blocked, and MindMup cleverly propagates status to parent nodes, making it easy to get a quick
          visual overview. You can customise progress visualisations, define your own status types, and assign automatic styling icons and 
          colors. </p>
          <p><a class="btn btn-default" href="http://blog.mindmup.com/p/monitoring-progress.html" role="button">More info »</a></p>
        </div>
        <div class="col-lg-4 col-md-6">
          <img class="img-circle col-header" src="/img/im/attachment.png">
          <h2>Add detailed descriptions</h2>
          <p>Keep actor and goal descriptions in the same document as your roadmaps map by using rich text node attachments. Make actors come alive by using images, nicely formatted text and links to external documents.
          Access the details by clicking on the paperclip icon.</p>
          <p><a class="btn btn-default" href="http://blog.mindmup.com/p/working-with-attachments.html" role="button">More info »</a></p>
        </div>
        <div class="col-lg-4 col-md-6">
          <img class="img-circle col-header" src="/img/im/jiralink.png" >
          <h2>Link to task tracking tools</h2>
          <p>If you use a web-based task tracking tool, make it easy for colleagues to discover and manage tasks for deliverables: 
          just paste the task URL into the relevant node. MindMup will display a hyperlink icon, enabling easy navigation. 
          </p>
          <p><a class="btn btn-default" href="http://blog.mindmup.com/2013/03/hyperlinks-in-nodes.html" role="button">More info »</a></p>
        </div>
        <div class="col-lg-4 col-md-6">
          <img class="img-circle col-header" src="/img/im/crosslink.png">
          <h2>Cross-link</h2>
          <p>Show dependencies between deliverables or mark related impacts by using custom connectors. Visualise connection strength 
          by choosing dashed or solid lines, and describe importance and priority of relations by using colours and arrows.</p>
          <p><a class="btn btn-default" href="http://blog.mindmup.com/p/custom-links-between-nodes.html" role="button">More info »</a></p>
        </div>
      </div>
      <!-- /END THE FEATURETTES -->

