<div class="row">
  <h1>Keyboard Shortcuts</h1>
  <p>
  One of the guiding principles of MindMup is to make users more productive. MindMup has keyboard shortcuts for all map edit operations - remember 
  them and you'll be able to capture your ideas much faster. 
  </p>
  <p>
  On Mac OSX, Ctrl and Cmd keys can be used for shortcuts marked Ctrl below - some browsers prevent certain key bindings. So, for example, if Cmd+Space does not work in your browser, try Ctrl+Space. 
  </p>
  <p>(For more interface shortcuts, see also <a href="/mouse-touch-operations">Mouse and Touch</a> operations)<br />
</p>
<table class="table table-striped">
<colgroup><col width="30%"></col>
<col width="70%"></col>
</colgroup><tbody>
<tr><th colspan="2"><h2> Node manipulation </h2>
</th></tr>
<tr><td>Enter</td><td>Add sibling</td></tr>
<tr><td>Shift+Enter</td><td>Add sibling above</td></tr>
<tr><td>Shift+Enter</td><td>Line break (when editing node text)</td></tr>
<tr><td>Tab</td><td>Add child</td></tr>
<tr><td>Shift+Tab</td><td>Insert parent</td></tr>
<tr><td>Space</td><td>Edit node</td></tr>
<tr><td>Shift+Space</td><td>Change node color</td></tr>
<tr><td>A</td><td>View or edit node attachment</td></tr>
<tr><td>I</td><td>Add an image or change the existing image/icon associated with the node</td></tr>
<tr><td>Backspace or Delete</td><td>Remove node</td></tr>
<tr><td>Ctrl+Up/Down Arrow keys</td><td>Move node up/down</td></tr>
<tr><th colspan="2"><h2> Editing </h2> </th></tr>
<tr><td>Ctrl+S</td><td>Save</td></tr>
<tr><td>Ctrl+X or C</td><td>Cut</td></tr>
<tr><td>Ctrl+V or P</td><td>Paste</td></tr>
<tr><td>Ctrl+Shift+V</td><td>Paste Style only</td></tr>
<tr><td>Ctrl+C or Y</td><td>Copy</td></tr>
<tr><td>U or Ctrl+Z</td><td>Undo</td></tr>
<tr><td>R or Ctrl+Y or Ctrl+Shift+Z</td><td>Redo</td></tr>
<tr><th colspan="2"><h2> Selection </h2> </th></tr>
<tr><td>Arrow keys</td><td>Select the node up/down/left/right of the currently selected one</td></tr>
<tr><td>Shift + Arrow keys</td><td>Add node up/down/left/right to selection (useful to multi-select siblings)</td></tr>
<tr><td>{</td><td>Multi-select the current node and the entire subtree under it</td></tr>
<tr><td>[</td><td>Multi-select only the subtree under the current node (not the node itself)</td></tr>
<tr><td>=</td><td>Multi-select all the siblings of the current node (that have the same parent)</td></tr>
<tr><td>.</td><td>Cancel multi-selection and select only the current node again</td></tr>
<tr><td>1 - 9</td><td>Select all nodes of a particular level (eg 1 selects all first level nodes)</td></tr>
<tr><td>0</td><td>Select the root node and recenter view</td></tr>
<tr><td>Ctrl+F</td><td>Find node by part of title</td></tr>
<tr><th colspan="2"><h2> Navigation and screen </h2>
</td></tr>
<tr><td>/ or F</td><td>Fold or unfold children</td></tr>
<tr><td>Ctrl + or Z</td><td>Zoom in</td></tr>
<tr><td>Ctrl - or Shift Z</td><td>Zoom out</td></tr>
<tr><td>Esc, Ctrl+0</td><td>Reset map view - select root node and bring it to the center of the screen</td></tr>
<tr><td>Ctrl+B</td><td>Convert floating toolbar to menu (press again to convert back)</td></tr>
<tr><td>Ctrl+Shift+B</td><td>Hide top menu (press again to show)</td></tr>
</tbody></table>
</div>
