<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title><%=@title%></title>
    <link href="lib/bootstrap-3.0.3/css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="lib/font-awesome-4.0.3/css/font-awesome.min.css">
    <link href="site.css" rel="stylesheet">
  </head>
<body>
  <div class="navbar navbar-default navbar-static-top" role="navigation">
      <div class="container">
         <div class="navbar-header">
      <a href="#" class="visible-xs navbar-brand" >Discover MindMup</a>
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#nav1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
        <div class="navbar-collapse collapse" id="nav1">
          <ul class="nav navbar-nav">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">MindMup is great for <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="/impactmapping">Impact Mapping</a></li>
                <li><a href="/presentations">Planning presentations</a></li>
                <li><a href="/geeks">Tweaking and automating</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Guides <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="/mindmup-gold">MindMup Gold</a></li>
                <li><a href="/keyboard-shortcuts">Keyboard Shortcuts</a></li>
                <li><a href="/mouse-touch-operations">Mouse and Touch operations</a></li>
                <li><a href="/storyboards">Storyboards</a></li>
              </ul>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="mailto:contact@mindmup.com">Contact</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <div class="container marketing">

    <%=yield %>
      <!-- FOOTER -->
      <footer>
        <p>&copy; 2014 Sauf Pompiers Ltd. </p>
      </footer>

    </div><!-- /.container -->


    <!-- Placed at the end of the document so the pages load faster -->
    <script src="lib/jquery-2.1.0.min.js"></script>
    <script src="lib/bootstrap-3.0.3/js/bootstrap.min.js"></script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-37452180-9', 'mindmup.com');
      ga('send', 'pageview');
    </script>
  </body>
</html>

