<%=erb :head%>
  <div class="navbar navbar-default navbar-static-top" role="navigation">
      <div class="container">
         <div class="navbar-header">
      <a href="/" class="navbar-brand" >Discover MindMup</a>
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#nav1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
        <div class="navbar-collapse collapse" id="nav1">
          <ul class="nav navbar-nav">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">MindMup is great for <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="/impactmapping">Impact Mapping</a></li>
                <li><a href="/presentations">Planning presentations</a></li>
                <li><a href="/geeks">Tweaking and automating</a></li>
                <li><a href="/mindmup-for-ios">Mind mapping when mobile</a></li>
                <li><a href="/atlas">Publishing and sharing maps online</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Guides <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="/mindmup-gold">MindMup Gold</a></li>
                <li><a href="/keyboard-shortcuts">Keyboard Shortcuts</a></li>
                <li><a href="/mouse-touch-operations">Mouse and Touch operations</a></li>
                <li><a href="/storyboards">Storyboards</a></li>
              </ul>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="mailto:contact@mindmup.com">Contact</a></li>
            <li><a href="/press">Press/Bloggers</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
    <div class="container marketing">
    <%=yield %>
      <!-- FOOTER -->
    </div><!-- /.container -->
<%= erb :foot%>
