      <div class="row featurette">
        <div class="col-md-12">
          <h1 class="featurette-heading">MindMup for iOS devices</h1>
        </div>
      </div>
      <div class="row featurette">
        <div class="col-md-5">
          <p class="lead">
          Mind maps are a great way to capture brain-storming sessions and take notes quickly 
          at conferences, presentations and meetings. When you're out and about, without your computer 
          or a reliable internet connection, MindMup for iOS enables you to record
          ideas productively on a mobile device, then easily share them with friends and colleagues or 
          transfer to a computer for refinement.
          </p>
          <p class="lead">
          In line with our moto of zero-friction idea capture, we designed the user interaction 
          from the ground up for mobile devices, so you can be productive within the 
          the constraints of tablets and phones - working on a small screen with touch interaction 
          instead of keyboard shortcuts. You can also take full advantage of mobile device features
          such as built-in cameras to capture ideas even more productively.
          </p>
        </div>
        <div class="col-md-7">
          <img class="featurette-image img-responsive" src="/img/ios/mindmup-tablet.jpg"/>
          <p style="text-align:center">
          <a href="https://itunes.apple.com/gb/app/mindmup/id922046314"><img style="width: 30%" src="/img/ios/app_store.svg"/></a>
          </p>
        </div>
      </div>
      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-12"><a name="starting"></a>
          <h2>Capture ideas with lightning speed</h2>
        </div>
      </div>
      <div class="row featurette">

        <div class="col-md-6">
          <p>
          With our innovative Quick Entry toolbar, you can be as productive on a mobile device as on a desktop. Just enter the idea
          in the text box and tap on the <strong>Add Child</strong> or <strong>Add Sibling</strong> buttons to add a new idea to your map. 
          The field will
          clear and it's ready to take your new ideas. The focus stays on the field, the keyboard stays on the screen, to 
          prevent flicker and allow you to just capture a ton of ideas quickly.</p>

          <p>The Quick Entry toolbar works well with software and hardware keyboards, and automatically adjusts to postrait or landscape orientations and screen
          sizes, so you can always get the most out of the screen real-estate, no matter how small it is. </p>
          <p>Tap the camera button to take a photo and capture an idea visually in the map. This is great when someone's written a
          lot of text that you can't type over quickly, or when you want to capture an entire slide from a presentation.
          Considering memory limitations of touch devices, we automatically resize photos and large images to take up less memory and space on
          the screen. This is great for mobile idea capture, but won't look as nice if you want to print large posters with your maps. For those
          who need just that bit of extra photo quality, go to the app settings page and turn on Print Quality Photos. 
          </p>
        </div>
        <div class="col-md-6">
          <img class="featurette-image img-responsive" src="/img/ios/quick-entry.png"/>
        </div>
      </div>
      <div class="row featurette">
        <div class="col-md-12">
          <h2>Manage maps on a smaller screen</h2>
        </div>
      </div>
      <div class="row featurette">
        <div class="col-md-6">
          <img class="featurette-image img-responsive" src="/img/ios/mindmup-menu.png"/>
        </div>
        <div class="col-md-6">
          <p>
          We re-designed the interaction and the user interface completely so you can work productively on a small screen - from tiny phones to not-so-tiny tablets.
          Editing text inside nodes works great on a desktop, not so much when touching the map can also move things around. So we created a new
          node text editor that opens as a pop-up when you double-tap a node. This means you can safely copy/paste and edit text by tapping on a screen.
          </p>
          <p>To make it easier to manage nodes, we created large, touch-friendly buttons for all node operations. Just long-press a node or tap the options button
          in the toolbar to see the menu. This ensures that you don't tap on an unwanted operation unintentionally while working with maps. The menu, of course,
          adjusts to portrait and landscape orientations and different screen sizes, to help you work best with your particular device.</p>
          <p>All the usual MindMup touch operations still work in the iOS app - so just tap a node to select it, or drag and drop things around to reorganise them</p>

        </div>
      </div>
      <div class="row featurette">
        <div class="col-md-12">
        <h2>Work offline</h2>
        </div>
      <div class="col-md-6">
          <p>Mobile devices are most useful when people are mobile, often with an unreliable internet connection and potentially expensive data roaming. So 
          we designed the MindMup iOS app primarily for offline work, with the ability to synchronise data to online repositories later. All maps are stored
          locally on your device, so you can access them anytime anywhere.</p>
          <p>
          Just tap the Import button to transfer a map from your iCloud Drive, Google Drive, Dropbox, or any other storage provider you've set up on your device. When
          you want to send the maps back up to an online storage, tap the map on the main screen of the application and select the Share button.
          </p>
          <p>If you use a MindMup Gold account for your maps, you will be able to connect it to the MindMup iOS app and import and send documents to your Gold
          storage easily.</p>
          <p>MindMup for iOS also supports iOS8 Extensions, so you can easily load a map from any compatible iOS8 application, or send it to another application
          on your device. This means that MindMup for iOS works not just with the storage options you have available on the web, but also any
          other storage application for iOS. Just tap the Share button on the map and them select Export to another App.</p>
          <h2>Send maps to friends and colleagues</h2>
          <p>
            In addition to publishing a map using an online document storage, the MindMup iOS app allows you to directly send a map
            to colleagues and friends by e-mail. If they receive the map on a mobile device, they will be able
            to open it instantly using the MindMup iOS app without having to set up any accounts or requiring any online storage sharing. 
            This allows you to work around the online storage size limitations. 
          </p>
        </div>
        <div class="col-md-6">
          <img class="featurette-image img-responsive" src="/img/ios/file-export.png"/>
        </div>
      </div>
      <!-- /END THE FEATURETTES -->

