

      <div class="row featurette">
        <div class="col-md-12">
          <h1 class="featurette-heading">MindMup for Tablets and Mobile Phones</h1>
        </div>
      </div>
      <div class="row featurette">
        <div class="col-md-7">
          <p class="lead">
          Mind maps are a great way to capture brain-storming ideas and take notes quickly 
          at conferences, presentations and meetings. When you're out and about, without your computer 
          or a stable internet connection, MindMup for IOS enables you to record
          ideas productively on a mobile device, then easily share them with friends and colleagues or 
          transfer to a computer for refinement.
          </p>
          <p class="lead">
          In line with our moto of zero-friction idea capture, we designed the user interaction 
          from the ground up for mobile devices, so you can be productive within the 
          the constraints of tablets and phones - working on a small screen with touch interaction 
          instead of keyboard shortcuts. You can also take advantage of mobile device features
          such as built-in cameras to capture ideas even more productively.
          </p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive" src="/img/presentations/storyboards_750.png"/>
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-6"><a name="starting"></a>
          <h2>Capture ideas with lightning speed</h2>
        </div>
      </div>
      <div class="row featurette">
        <div class="col-md-6">
          <img class="featurette-image img-responsive" src="/img/presentations/toggle_storyboard_500.png"/>
        </div>
        <div class="col-md-6">
          </p>
            Just start typing an idea into the quick entry field, and then tap a button to add the idea as a sibling or a child of the currently selected node.
            The new node automatically gets focus so you can quickly manage it. Touch a different node on the map to start appending children to it or extending siblings. 
          </p>
        </div>
      </div>
      <div class="row featurette">
        <div class="col-md-6">
          <h2>Organise with touch gestures</h2>

        </div>
      </div>
      <div class="row featurette">

        <div class="col-md-6">
          <p>Long-press a node to show a context menu of advanced options, where you can easily manage node connections, change the background color and
          access the clipboard. </p>
          <p>Just drag the nodes to reposition them, drop nodes on other nodes to change parents, and 
        </div>
        <div class="col-md-6">
          <img class="featurette-image img-responsive" src="/img/presentations/drag_sboard_small.png"/>
        </div>
      </div>
      <div class="row featurette">
        <div class="col-md-6">
          <h2>Access all MindMup features from the touch-friendly menu</h2>
        </div>
      </div>
      <div class="row featurette">
        <div class="col-md-6">
          <img class="featurette-image img-responsive" src="/img/presentations/bullets.png"/>
        </div>

        <div class="col-md-6">
          
          <p></p>
        </div>

      </div>
      <div class="row featurette">
        <div class="col-md-6">
          <h2>Send maps to friends and colleagues</h2>
        </div>
      </div>
      <div class="row featurette">
        <div class="col-md-6">
          <p></p>
        </div>
        <div class="col-md-6">
          <img class="featurette-image img-responsive" src="/img/presentations/reorder_slides.png"/>
        </div>
      </div>
      <div class="row featurette">
        <div class="col-md-6">
          <h2>Access your maps on all your devices</h2>
        </div>
      </div>
      <div class="row featurette">
        <div class="col-md-6">
          <p>MindMup for IOS supports IOS8 extensions, allowing you to easily open maps stored on Google Drive, Dropbox and any other cloud storage connected with your mobile device.</p>
        <p></p>
        </div>
      </div>
      
          
      <!-- /END THE FEATURETTES -->

