<div class="row">
<h1>Mouse and touch operations</h1>
<p>MindMup has a rich <a href="/keyboard-shortcuts">keyboard interface</a>, but if you prefer clicking and tapping, most operations are also 
accessible using a mouse pointer or touch interfaces</p>
<table class="table table-striped">
<tr><td>Move the map</td><td> click and drag the center node, click and drag the background or scroll with trackpad/touchpad.</td></tr>
<tr><td>Select a node</td><td> tap or click on it</td></tr>
<tr><td>Select multiple nodes</td><td> Shift+click</td></tr>
<tr><td>Reorder nodes</td><td> drag a node between its siblings, horizontally close to the position of reordering. A black arrow point will show when reordering. </td></tr>
<tr><td>Manually position a node</td><td> just drag a node until the arrow point for reordering isn't showing. To force manual position even when the reorder arrow point is showing, hold Shift while dragging. please note that children of the root node can be pulled in any direction, but lower level nodes can only be positioned in the direction of its parent relative to the root.</td></tr>
<tr><td>Edit node</td><td> Double-click or double-tap it</td></tr>
<tr><td>Show context menu with operations</td><td> Double-tap the background, or long press a node: show (works only on touch devices)</td></tr>
<tr><td>Change node parent</td><td> drag and drop a node on another node (circular drops are not allowed, so you can't drop a node on one of it's children or descendants)</td></tr>
<tr><td>Link the currently selected node and another node</td><td> alt+click, ctrl+click and cmd+click the target node, or click/tap on the connect tool in the toolbar and tap/click the target node. Links only work for nodes that are not already related - you can't create a custom link between a parent and a child</td></tr>
<tr><td>Change the node icon/image</td><td> Drag an image file onto a node</td></tr>
<tr><td>Add image to the map</td><td> drag an image onto the background. This will add the image as a child node of the currently selected node</td></tr>
</table>
</div>
