

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Presentations<span class="text-muted">&nbsp;that inspire and motivate people</span></h2>
          <p class="lead">Mind maps are great for brainstorming and planning, but not that good for presenting. A great story
          has a beginning and an end, a sequence of thoughts, suspense and  carefully planned discovery of information.</p>
          <p class="lead">MindMup helps professional
          presenters bring their ideas to the audience better by bridging that gap. Use a frictionless planning canvas to capture and 
          organise your thoughts, and then put them into a powerful storyboard to turn a hierarchy of ideas into a sequence of slides.</p>
          <p><a class="btn btn-lg btn-success" href="http://www.mindmup.com">Start mapping »</a></p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive" src="/img/im/main.png">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row">
        <div class="col-lg-4 col-md-6">
          <img class="img-circle col-header" src="/img/im/measures-500x500.png" >
          <h2>Capture ideas easily</h2>
          <p>MindMup tries very hard to stay out of your way and make idea capture as frictionless as possible. There are no ads, no interruptions,
          and you can even hide all user interface elements and focus purely on organising your thoughts.</p>
          <p><a class="btn btn-default" href="#" role="button">More info »</a></p>
        </div>
        <div class="col-lg-4 col-md-6">
          <img class="img-circle col-header" src="/img/im/measures-500x500.png">
          <h2>Build a storyboard</h2>
          <p>Turn on the storyboard pane and drag and drop mind map nodes to organise a presentation. Storyboards are live and connected to the map, so if 
          you later change the text or image of a node it will automatically update in your slides.</p>
          <p><a class="btn btn-default" href="#" role="button">More info »</a></p>
        </div>
        <div class="col-lg-4 col-md-6">
          <img class="img-circle col-header" src="/img/im/measures-500x500.png">
          <h2>Make beautiful slides</h2>
          <p>Turn the storyboard into beautiful slides with just one click. MindMup will take node images and text and format them into 4x3 aspect ratio slides
          that will be great to present on all projectors, automatically choosing the best font size. </p>
          <p><a class="btn btn-default" href="#" role="button">More info »</a></p>
        </div>


      </div>

      <div class="row">
        <div class="col-lg-4 col-md-6">
          <img class="img-circle col-header" src="/img/im/labels-500x500.png">
          <h2>Present online</h2>
          <p>With one click, start a Google Hangouts session with the slide show from your storyboard, then impress the audience with your story! You can also load 
          the slideshow into an existing Hangout.</p>
          <p><a class="btn btn-warning" href="#" role="button">Coming soon</a></p>
        </div>
        <div class="col-lg-4 col-md-6">
          <img class="img-circle col-header" src="/img/im/labels-500x500.png">
          <h2>Share slides easily</h2>
          <p>Share the presentation with your audience easily, as an online slide deck that will work nicely on desktop and mobile devices. Or, embed the slideshow
          into your web site easily.</p>
          <p><a class="btn btn-warning" href="#" role="button">Coming soon</a></p>
        </div>
        <div class="col-lg-4 col-md-6">
          <img class="img-circle col-header" src="/img/im/labels-500x500.png">
          <h2>Plan several versions</h2>
          <p>You can create several storyboards: one for the 15-minute version, one for the one hour conference keynote and one for the afternoon workshop. Update the node text once and all slides 
          magically change.</p>
          <p><a class="btn btn-warning" href="#" role="button">Coming soon</a></p>
        </div>

      </div>
      <!-- /END THE FEATURETTES -->

