

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Presentations<span class="text-muted">&nbsp;that inspire and motivate people</span></h2>
          <p class="lead">MindMup gives you a frictionless planning canvas to capture and organise your thoughts, and a powerful storyboard to 
          turn a hierarchy of ideas into a sequence of slides.</p>
          <p><a class="btn btn-lg btn-success" href="http://www.mindmup.com">Start mapping »</a></p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive" src="/img/im/main.png">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row">
        <div class="col-lg-4">
          <img class="img-circle col-header" src="/img/im/measures-500x500.png" >
          <h2>Control using keyboard</h2>
          <p> All map operations have keyboard shortcuts, even color selection (press shift+space and just type the color name).</p>
          <p><a class="btn btn-default" href="#" role="button">More info »</a></p>
        </div>
        <div class="col-lg-4">
          <img class="img-circle col-header" src="/img/im/labels-500x500.png">
          <h2>Version control maps</h2>
          <p>MindMup maps diff nicely, so they play well with version control systems. MindMup can load FreeMind and MindMup
          files directly from GitHub.</p>
          <p><a class="btn btn-default" href="#" role="button">More info »</a></p>
        </div>
        <div class="col-lg-4">
          <img class="img-circle col-header" src="/img/im/measures-500x500.png">
          <h2>Style using CSS</h2>
          <p>The rendered content is just DOM, so you can make it look exactly as you want using CSS. </p>
          <p><a class="btn btn-default" href="#" role="button">More info »</a></p>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-4">
          <img class="img-circle col-header" src="/img/im/progress-500x500.png">
          <h2>Parse and generate</h2>
          <p>MindMup maps are just simple JSON. You can process them with almost any programming language, or fill in your data programatically.  </p>
          <p><a class="btn btn-default" href="#" role="button">More info »</a></p>
        </div>
        <div class="col-lg-4">
          <img class="img-circle col-header" src="/img/im/labels-500x500.png" >
          <h2>Integrate into your tools</h2>
          <p>MindMup is opensource, and the visualisation library is even pulled out into a separate project that you can easily integrate into your software</p>
          <p><a class="btn btn-default" href="#" role="button">More info »</a></p>
        </div>
        <div class="col-lg-4">
          <img class="img-circle col-header" src="/img/im/progress-500x500.png">
          <h2>Use the API</h2>
          <p>Automate changes to your maps programmatically from the JavaScript console, or customise MindMup functions by building an extension. </p>
          <p><a class="btn btn-warning" href="#" role="button">Coming Soon</a></p>
        </div>
      </div>
      <!-- /END THE FEATURETTES -->

