

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Storyboards</h2>
          <p class="lead">Have you ever 
          used mind maps to plan a story or a presentation, and then had to type everything over into another tool to manage content? With MindMup, you can 
          keep your content in a single place, plan great stories using hierarchical breakdowns and visual structure of mind maps, but then simply arrange a 
          nice linear storyboard for your script, presentation or article.
          </p>
          <p class="lead"><a href="/keyboard-shortcuts">Frictionless idea capture</a> helps you focus on the story in your head, not on the software collecting the ideas. Once you have a nice 
          outline, you can easily share it with colleagues or even <a href="http://blog.mindmup.com/p/realtime-collaboration.html">collaborate over the Internet</a> 
          to turn it into a great presentation. The content of the presentation stays connected to the map - update a mind map node, or add a new sub-idea to a list, and the storyboard content updates automatically.</p>
          <p class="lead">When you're done planning, pull the story out to a vector PDF for printing, or to a presentation slide deck to polish visuals in 
          almost any presentation tool.</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive" src="/img/presentations/storyboards_750.png"/>
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-6"><a name="starting"></a>
          <h2>Getting started</h2>
        </div>
      </div>
      <div class="row featurette">
        <div class="col-md-6">
          <img class="featurette-image img-responsive" src="/img/presentations/toggle_storyboard_500.png"/>
        </div>
        <div class="col-md-6">
          <p>Select <strong>View-&gt;Side&nbsp;Pane&gt;Toggle&nbsp;Storyboard</strong> to start working with MindMup storyboards. You can also press the <strong>S</strong> keyboard shortcut to open the storyboard. MindMup storyboard is a side pane that will
          take up the right half of the window, and allow you to manage a sequence of ideas in addition to a hierarchical mind map.
          You can hide the storyboard again by selecting the same menu option, or by pressing <strong>S</strong> again.
          </p>
          <p>If you're using a narrow screen, you can switch the storyboard to use the bottom half instead of the right side, to save screen space. Just select
          <strong>View-&gt;Side&nbsp;Pane&gt;Row&nbsp;Split</strong> or press <strong>Alt+O</strong>. 
          </p>
        </div>
      </div>
      <div class="row featurette">
        <div class="col-md-6">
          <h2>Add some slides</h2>
        </div>
      </div>
      <div class="row featurette">

        <div class="col-md-6">
          <p>Drag and drop nodes from the mind map pane to the storyboard pane to add slides. You can also add the currently selected node 
          by using the keyboard - just press the <strong>+</strong> key. <a href="/keyboard-shortcuts#selection">Multi-select operations</a> also work, so you can for example add 
          all level 3 nodes to the slideshow by pressing <strong>3</strong> and then <strong>+</strong>. </p>
          <p>If you prefer using the mouse but 
          don't like dragging and dropping, you can also right-click a node and then select <strong>Storyboard-&gt;Add&nbsp;Node</strong>. On touch devices, 
          select the same option from the <strong>Edit</strong> menu.
          </p>
          <p>MindMup will automatically select the largest possible font for the slide based on the amount of text in the node. If a node contains an image
          as well as the text, MindMup will divide the slide into two halfs based on the image node position, and scale the image to take as much
          space as possible.</p>
        </div>
        <div class="col-md-6">
          <img class="featurette-image img-responsive" src="/img/presentations/drag_sboard_small.png"/>
        </div>
      </div>
      <div class="row featurette">
        <div class="col-md-6">
          <h2>Create bullet lists</h2>
        </div>
      </div>
      <div class="row featurette">
        <div class="col-md-6">
          <img class="featurette-image img-responsive" src="/img/presentations/bullets.png"/>
        </div>

        <div class="col-md-6">
          
          <p>There are two very simple ways to create bullet lists in slides:</p>
          <p>The first is to just add lines to node text that start with a dash. Any nodes with multiple lines, some of which start with dashes, will be 
          converted to bullet lists and left-aligned.</p>
          <p>The second is to use the hierarchical structure of mind maps to describe bullet lists. Click on the <i class="fa fa-list-ul"></i>&nbsp;<strong>Add with children</strong> button
          to convert a hierarchy into a slide. The currently selected node will become the slide title, and its children will become bullet points. </p>

        </div>

      </div>
      <div class="row featurette">
        <div class="col-md-6">
          <h2>Plan your story</h2>
        </div>
      </div>
      <div class="row featurette">

        <div class="col-md-6">
          <p>Drag and drop nodes around the storyboard to reorder them, until you are happy with the sequence of your story. </p>
          <p>You can also use the keyboard to manage your storyboard slides. These shortcuts will work when the storyboard is in focus (just click on any slide to set it in focus):</p>
          <ul>
            <li><strong>Select a different slide</strong>: just use arrow keys</li>
            <li><strong>Move selected slide</strong>: use Ctrl and left or right arrow keys to move a slide forwards or backwards in the storyboard. (on OSX, use Cmd and arrow keys)</li>
            <li><strong>Delete selected slide</strong>: backspace</li>
          </ul>
          <p>You can also remove all slides connected to a node by selecting <strong>Edit-&gt;Storyboard-&gt;Remove&nbsp;Node</strong> (or right clicking the node and selecting the
          same option).</p>
          </p>
        </div>
        <div class="col-md-6">
          <img class="featurette-image img-responsive" src="/img/presentations/reorder_slides.png"/>
        </div>
      </div>

      <div class="row featurette">
        <div class="col-md-6">
          <h2>Use the storyboard menu</h2>
        </div>
      </div>
          
      <div class="row featurette">
        <div class="col-md-6">
          <img class="featurette-image img-responsive" src="/img/presentations/storyboard-menu.png"/>
        </div>
        <div class="col-md-6">

          <p>The storyboard pane has a menu on the top that helps you manage stories and slides. On narrow screens, the button labels will be hidden
          and only the icons will show. Here is what the buttons do:</p>
          <ul>
            <li><i class="fa fa-plus-circle"></i>&nbsp;<strong>Add Node</strong>: Creates a new slide from the currently selected mind map node. The node will
            be added at the end of the current storyboard.</li>
            <li><i class="fa fa-list-ul"></i>&nbsp;<strong>Add with children</strong>: Creates a slide with bullets using the currently selected node
              as the slide title, and its children as bullet points. 
            </li>
            <li><i class="fa fa-arrow-left"></i>&nbsp;<strong>Move Left</strong>: Move selected slide one step towards the start of the storyboard (switch places
            with the slide to the left)</li>
            <li><i class="fa fa-arrow-right"></i>&nbsp;<strong>Move Left</strong>: Move selected slide one step towards the end of the storyboard (switch places
            with the slide to the right)</li>
            <li><i class="fa fa-minus-circle"></i>&nbsp;<strong>Remove</strong>: Remove selected slide</li>
            <li><i class="fa fa-download"></i>&nbsp;<strong>Download</strong>: Open a dialog to export the storyboard into PDF or Powerpoint</li>
            <li><i class="fa fa-times"></i>: Hides the storyboard pane</li>
          </ul>

        </div>
      </div>
      <div class="row featurette">
        <div class="col-md-6">
          <a name="exporting"></a>
          <h2>Export the slides for printing or presenting</h2>
        </div>
      </div>
          
      <div class="row featurette">
        <div class="col-md-6">
          <p>
          Take the storyboard offline so you can present it or fine-tune the visuals in your preferred presentation management tool.</p>
          <p>
          Select the <strong>File-&gt;Export&nbsp;Map-&gt;Presentation</strong> from the main menu, or press the <i class="fa fa-download"></i>&nbsp;<strong>Download</strong> button
          in the storyboard menu bar to export the storyboard into a PDF or Powerpoint.
          </p>
          <p>Slides will be formatted to 4x3 aspect ratio so they will work well with any projector. The PDF export will produce vectors where
          possible, so the slides can be printed nicely on different size outputs or embedded into other types of content such as booklets. 
          Dashes will be converted to powerpoint bullets so you can edit the slides and style them easily. </p>
          <p>
          Make sure
          to use high resolution images if you plan to print the slides. Although the images might look scaled on the screen, the full resolution versions
          will be included in the PDF.</p>
          <p>Anonymous users will be able to export storyboards up to 100 KB size. <a href="/mindmup-gold">Mindmup Gold</a> users can export 
          storyboards up to 100 MB online. If your file is larger than 100 MB, please <a href="mailto:contact@mindmup.com">contact us</a> to arrange
          an offline export.</p>
        </div>
        <div class="col-md-6">
          <img class="featurette-image img-responsive" src="/img/presentations/export_to_ppt_500.png"/>
        </div>
      </div>
      <!-- /END THE FEATURETTES -->

