<a class="btn btn-lg btn-primary" href="https://www.mindmup.com">Start mapping in the cloud »</a>
<a class="btn btn-lg btn-warning" href="https://chrome.google.com/webstore/detail/mindmup-desktop-free-mind/eealagocaipaflcjmeapmobpmilffopi">Work offline »</a>
<a class="btn btn-lg btn-success" href="https://itunes.apple.com/gb/app/mindmup/id922046314">Mobile access »</a>

