body {
  padding-bottom: 40px;
  color: #5a5a5a;
}

.marketing {
  padding-left: 15px;
  padding-right: 15px;
}

.marketing .col-lg-4 {
  text-align: center;
  margin-bottom: 20px;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-left: 10px;
  margin-right: 10px;
}


.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}


.col-header {
  width: 250px; height: 250px;
}

.instructions div {
  margin-top: 1em;
}
.instructions img {
  border:0px;
  max-width: 300px;
  margin-left: 1em;
}
