body {
  padding-bottom: 40px;
  color: #5a5a5a;
}

.marketing {
  padding-left: 15px;
  padding-right: 15px;
}

.feature {
  text-align: center;
  margin-bottom: 20px;
}
.marketing h2 {
  font-weight: normal;
}
.feature p {
  text-align: left;
}
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}


.col-header {
  width: 250px; height: 250px;
}

.instructions div {
  margin-top: 1em;
}
.instructions img {
  border:0px;
  max-width: 300px;
  margin-left: 1em;
}
.enormous {
  font-size: 10em;
  display: block;
  text-align: center;
}
.bottom {
  width: 100%;
  text-align: center;
  border-top: 1px solid #eee;
  margin-top: 10px;
  padding-top: 10px;
}
blockquote {
  border-left: none;
}
.carousel .item {
  height: 250px;
}
.carousel-caption {
  color: rgb(90,90,90);
}
.jumbotron {
background-image: url('/img/header.png');
background-size: cover;
background-position: center bottom;
margin-bottom: 0px;
padding-bottom: 30px;
}
.jumbotron h1 {
  text-shadow: rgb(20,20,20) 0px 0px 60px, black 0px 0px 10px, black 1px 1px;
  color: white;
}
.jumbotron h1 small {
  color: white;
}
.lists {
 text-align:center;
}
