body {
  padding-bottom: 40px;
  color: #5a5a5a;
}

.marketing {
  padding-left: 15px;
  padding-right: 15px;
}

.feature {
  text-align: center;
  margin-bottom: 20px;
}
.marketing h2 {
  font-weight: normal;
}
.feature p {
  text-align: left;
}
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}


.col-header {
  width: 250px; height: 250px;
}

.instructions div {
  margin-top: 1em;
}
.instructions img {
  border:0px;
  max-width: 300px;
  margin-left: 1em;
}
.enormous {
  font-size: 10em;
  display: block;
  text-align: center;
}
.bottom {
  width: 100%;
  text-align: center;
  border-top: 1px solid #eee;
  margin-top: 10px;
  padding-top: 10px;
}
blockquote {
  border-left: none;
}
.carousel .item {
  height: 250px;
}
.carousel-caption p {
  text-shadow: black 1px 1px, rgb(19,19,19) 0px 0px 30px;
}
.carousel-caption footer a {
  color: #eeeeee;
  text-shadow: black 1px 1px, rgb(19,19,19) 0px 0px 30px;
}
.big {
background-image: url('https://d1g6a398qq2djm.cloudfront.net/press-resources/header-g3.png');
background-size: cover;
background-position: center bottom;
margin-bottom: 20px;
}
.jumbotron {
margin-bottom: 0px;
padding-bottom: 0px;
background: transparent;
}
.jumbotron h1 {
  text-shadow: black 1px 1px, black 2px 2px;
  color: rgb(34, 170, 224);
}
.jumbotron h1 small {
  color: rgb(34, 170, 224);
}
.lists {
 text-align:center;
}
.lead {
  text-align: justify;
}
.featurette p {
  text-align: justify;
}
.featurette img {
  margin-bottom: 1em;
}
.withborder {
  box-shadow:  black 1px 1px, rgb(19,19,19) 5px 5px 30px;
  border-radius: 4px;
}
